[2016-10-26 06:36] Raptor007 opened #12 "Kicking is sometimes lethal when it shouldn't be."
Sometimes a single kick immediately kills the victim no matter how much health they had left.  The death message is "taught to fly" so it is probably erroneously applying falling damage, possibly detecting a collision with the player that kicked them.

[2016-10-26 06:52] Raptor007 opened #13 "Team scramble doesn't update skins."
According to stan0x and stric, when you do a team scramble, the players that get moved don't get their skins updated.

[2016-10-26 06:54] Raptor007 opened #14 "Clear splats and bholes when round resets."
It would be nice to have a server option to clear splats and bholes when the round resets in teamplay.

[2016-10-26 06:57] Raptor007 opened #15 "Warmup crash fix and enhancements."
_Original issue title: Fix warmup mode crash._

I've been told that when a server has lots of people, the warmup mode can crash the server.

[2016-10-26 07:00] Raptor007 opened #16 "Let clients query server version somehow."
Some server operators would like to be able to use a chat command to query their server's aq2-tng build version (maybe **!actionversion**).  I also think the verison string would be more meaningful if it included the date of the last git commit instead of just the commit ID.

[2016-10-26 07:03] Raptor007 opened #17 "Spectator HUD should respect noscore and hud_noscore."
Since merging Maniac's updated code, the spectator HUD always shows the player's score in the corner.

[2016-10-26 07:06] Raptor007 opened #18 "Use map votes to select next map in rotation."
If players voted on maps but not enough to change it, when the map ends the server should (optionally?) consider these votes when deciding which map to play next.

[2016-10-26 07:10] Raptor007 opened #19 "Teamplay halftime team swap."
It's been requested that there should be a server option to swap the teams at halftime in teamplay, like how CTF does it.  (I'm personally considering this low-priority since teamplay already randomizes the starting positions, unlike CTF where the sides are fixed and not necessarily well-balanced.)

[2016-10-26 07:11] Raptor007 opened #20 "Scoreboard sometimes shows phantom clients."
Sometimes when a client is in the process of connecting or has left the game, they will appear in the scoreboard.

[2016-10-26 07:14] Raptor007 opened #21 "Adding bots can crash the server."
Using the "sv addbot" command many times can cause a server to crash.  It seems to be a problem that accumulates across map changes.  It doesn't happen when just using bots/botdata.cfg to define bots.

[2016-10-26 07:18] Raptor007 opened #22 "Allow 2 teams to start playing in 3team match."
Currently if use_3teams is enabled, all 3 teams must have players joined to play.  It has been requested that the game should start as long as any 2 teams have players joined.  (Perhaps this should be a server cvar?)

[2016-10-26 07:22] Raptor007 opened #23 "Add 4team mode."
Some server operators want a 4team mode.  (This makes me wonder: is there any desire for a round-based free-for-all elimination mode?)

[2016-10-26 07:26] Raptor007 opened #24 "View angles sometimes go wonky when going to freespec or respawning."
The view angles when going to free spectate should always match the angles you were just looking at, but sometimes they don't.  Probably something to do with delta_angles.

[2016-10-26 07:28] Raptor007 opened #25 "Blood splat trace shouldn't stop on players."
To get rid of mid-air blood splats, I made "blooders" disappear when they hit a player, but really they should pass through and splatter on whatever they hit next.

[2016-10-26 07:30] Raptor007 opened #26 "Dropped weapons should remember ammo count."
The weapons should remember their ammo count when dropped.  If you drop an MP5 with 12 rounds in it, the next person who picks it up should have 12 rounds in it.  This will be an optional cvar because it changes the gameplay.

[2016-10-26 07:32] Raptor007 opened #27 "Make sure environmental hazards work correctly."
On map "rooftops" the streets below should kill you anytime after LCA.
On map "tequila" the top of the cactus should hurt you but not throw you into the air.

[2016-10-26 07:35] Raptor007 opened #28 "If you change teams right before map changes, you can't join."
The code that prevents people from changing teams rapidly doesn't seem to reset its timer when the map changes.

[2016-10-26 07:38] Raptor007 opened #29 "Clear mapvotes when map changes."
Sometimes I've seen map votes remain if the map changes using **gamemap** or hitting the time/kill limit.  This happens inconsistently so it's been tricky to track down.

[2016-10-26 07:41] Raptor007 opened #30 "Credit kills for being kicked/shot into lava or other damage brushes."
Being knocked into the lava counts as a suicide for the victim, but it really should count as a kill if the same conditions are met that would treat falling damage as "taught to fly".  If possible, credit these kills the same way.

[2016-10-26 07:46] Raptor007 opened #31 "Rewrite bots from scratch."
Eventually I want to rewrite the bots from scratch to avoid the licensing grey area we're in with the ACE/LTK bots.  I think I can make them work significantly better than they currently do.

[2016-10-26 08:20] Raptor007 opened #32 "Warmup bots."
There should be a way to configure warmup mode so it has temporary bots to play against while waiting for other players to join.

[2016-10-26 09:11] Raptor007 opened #33 "Make unsilenced shots louder than silenced/reload/etc."
Unsilenced shots should carry farther.  Since this would be pretty significantly game-changing, it will be a server cvar.  (The attenuation value in gi.sound is floating-point, not integer, yay!)

[2016-11-04 07:19] Raptor007 commented on #12
I'm guessing this is related to ClientEndServerFrame in p_view.c, possibly due to a missing check for FRAMESYNC somewhere.

[2016-12-06 06:35] Raptor007 commented on #12
Actually, I think this was caused by moving kick_attack from ClientThink to ClientBeginServerFrame in p_client.c.  Falling damage is handled by ClientEndServerFrame in p_view.c.

Old: https://github.com/Raptor007/aq2-tng/blob/8c33ddd7d74cb33e303b8480c01850c3c61054f6/source/p_client.c#L3717
New: https://github.com/Raptor007/aq2-tng/blob/79355df0349bf3c146cd96f2dadc5212f7a78676/source/p_client.c#L32

[2016-12-06 08:35] Raptor007 commented on #12
Falling damage is calculated as the difference between velocity and client->oldvelocity, but damage knockback was added only to velocity.  This meant when falling damage was calculated, the acceleration from knockback was considered the same as the deceleration from falling.  I fixed the issue by applying knockback to client->oldvelocity as well.

[2016-12-06 08:44] Raptor007 commented on #12
Fixed in commit 768d882!  The problem was that falling damage is calculated as the difference between velocity and client->oldvelocity, but only velocity was modified by damage knockback (including kicking).  This meant that the acceleration of a large kick was treated exactly like falling damage deceleration.  Fixed by also applying knockback to client->oldvelocity.

[2016-12-06 08:44] #12 closed, assigned to Raptor007

[2016-12-06 08:58] Raptor007 commented on #25
If a blooder is the same as a spray, blood_spray_touch in g_combat.c is all that needs to be tweaked for this.

[2016-12-07 09:29] Raptor007 opened #34 "Picking up a pistol shouldn't refill your current one."
If you have a pistol out and you pick up another, it should add a magazine but not immediately refill the pistol you're holding.

[2016-12-07 10:22] Raptor007 commented on #14
Done: https://github.com/Raptor007/aq2-tng/commit/2d415e1a792bc69322a8d05f7529e8c4830f0df3

[2016-12-07 10:22] #14 closed, assigned to Raptor007

[2016-12-07 10:22] Raptor007 commented on #30
Done: https://github.com/Raptor007/aq2-tng/commit/42b3ed9e4b0ea7fb2f2444c2b6bf06b283c178d1

[2016-12-07 10:22] #30 closed, assigned to Raptor007

[2016-12-07 10:25] Raptor007 commented on #25
Done: https://github.com/Raptor007/aq2-tng/commit/fcfebe4cd265c26660cb02fcc720181304e71ccb

I also fixed bleedloc_offset: https://github.com/Raptor007/aq2-tng/commit/c54265e44511e7bda6859ff802d0d4ebaddcdf31 https://github.com/Raptor007/aq2-tng/commit/2ec01d60db16877260be71ffb6e8e02346b69d44

[2016-12-07 10:25] #25 closed, assigned to Raptor007

[2016-12-13 20:48] Raptor007 commented on #27
I have an idea about the cactus:  See if any of Maniac's updates included changes to the way damage effects the entity's velocity.  I suspect damage mods that didn't previously add velocity are doing so now.  (This could be related to issue #12.)

[2016-12-14 01:38] Raptor007 commented on #28
Possibly related:  Sometimes when you change maps quickly, unjoined players can shoot their pistol while floating around, and may "die" when joining a team (team-change suicide).

[2016-12-14 08:39] Raptor007 commented on #27
On tequila, g_trigger.c `hurt_touch(...)` calls g_combat.c `T_Damage(... , damage=1, knockback=1, ... , mod=MOD_TRIGGER_HURT)`.  This should create a tiny imperceptible knockback, but instead creates a large one.

This commit might be related: https://github.com/Raptor007/aq2-tng/commit/79011d6b63ef03aedec52d2e517f327b1c21b7d2#diff-94ad8854d8d0a819f2804696a3ac7028L877

[2016-12-14 10:01] Raptor007 commented on #27
I fixed the tequila cactus knockback by reverting some of the vector math: https://github.com/Raptor007/aq2-tng/commit/a076dd29978f6ae0c77c545df0fbb213f587a682

[2016-12-14 10:31] Raptor007 commented on #27
I think the rooftops damage-after-LCA issue is somehow related to `hurt_touch(...)` triggers, or maybe a mismatched use of `level.time` and `level.frametime` when dealing with `timestamp`.

Possibly relevant file history:
https://github.com/Raptor007/aq2-tng/commits/master/source/g_trigger.c
https://github.com/Raptor007/aq2-tng/commits/master/source/g_target.c

Side note, this line seems wrong for

[2016-12-15 10:43] Raptor007 commented on #27
For the rooftops issue, I threw some debug output into the 1.52 source and found that when the player is killed for being at the bottom of the map, it calls:
`p_client.c:  ClientThink`
`g_utils.c:   G_TouchTriggers`
`g_trigger.c: hurt_touch`
`g_combat.c:  T_Damage (mod=MOD_TRIGGER_HURT)`

While running around at the bottom of the map in 1.52, `G_TouchTriggers` matches repeatedly with 1 hit, until

[2016-12-16 06:20] Raptor007 commented on #27
The repeated touch at the bottom of rooftops is `Touch_Multi`, so the issue could be related to that and/or `multi_trigger`/`multi_wait`/`G_UseTargets` which is likely trying to trigger the activation of a different entity to kill the player(s) below.

[2016-12-16 06:41] Raptor007 commented on #27
It looks like `multi_trigger` and `multi_wait` are functioning correctly, so I'm digging into when`G_UseTargets` gets called for rooftops.

AQ2 1.52:
`G_UseTargets` delay 0.00 target killers
`G_UseTargets` delay **3.01** target hurting
`G_UseTargets` delay **3.00** target hurting
...3 seconds later...
`G_UseTargets` delay 0.00 target hurting
`hurt_use` frame **71** solid=SOLID_TRIGGER
`G_TouchTrig

[2016-12-16 08:14] Raptor007 commented on #27
Fixed: https://github.com/Raptor007/aq2-tng/commit/e22c667ee8cf131e3ed73b20531b2fdbae47f40a

It also occurs to me that the reason this map developer would have done such a convoluted thing instead of doing a simple always-on hurt brush is because they wanted falling kills credited (see issue #30).

[2016-12-16 08:14] #27 closed, assigned to Raptor007

[2016-12-16 09:06] Raptor007 commented on #34
This might contradict with enhancement #26 if you pick up a pistol with only some rounds remaining.

[2016-12-16 09:27] Raptor007 commented on #15
Warmup commits: https://github.com/Raptor007/aq2-tng/commit/0c03e6eab4cb95d5a57d40cc9b09c2f70bd80227 https://github.com/Raptor007/aq2-tng/commit/c48a4ff7243b3680142da2d3cad7da8468ecdc90 https://github.com/Raptor007/aq2-tng/commit/5383b30fa08ac721b05c04a97b02af946e02af18

[2016-12-16 09:53] Raptor007 commented on #28
Make sure `deadflag` gets set on all players when changing maps.

[2016-12-19 05:50] Raptor007 opened #35 "Allow server admin to set team scores."
Something like `t1_score 0; t2_score 3` or `setscores 0 3`.

[2016-12-28 12:36] Raptor007 opened #36 "Don't let unjoined players shoot while floating around before teamplay begins."
When you change maps with `gamemap` during Lights Camera Action in teamplay, unjoined players can shoot their pistol while floating around, and may "die" when joining a team (team-change suicide).

[2016-12-28 12:37] Raptor007 commented on #28
I _think_ this is because `client.resp` was not getting cleared at map change.

Possibly fixed here: https://github.com/Raptor007/aq2-tng/commit/598aa6a28eb0b7ae7098927f8435c68789e76d08

[2016-12-28 12:38] Raptor007 commented on #13
This should be fixed with this commit: https://github.com/Raptor007/aq2-tng/commit/e72f17ccd7c02dd63d16faa0dbe666ce50b021f0

[2016-12-28 12:38] #13 closed, assigned to Raptor007

[2016-12-28 12:40] Raptor007 commented on #35
Implemented as `sv t1score 3`, `sv t2score 5`, `sv t3score 0` in this commit: https://github.com/Raptor007/aq2-tng/commit/c3d118bd19adf6cd9dbd0c7e9da10b870fbf5d89

[2016-12-28 12:40] #35 closed, assigned to Raptor007

[2016-12-28 12:46] Raptor007 opened #37 "Dead bodies shouldn't change skin."
If a player leaves, their dead bodies revert to male/grunt skin.  If a player changes skin during non-teamplay, their dead bodies immediately change skin too.  Ideally, neither situation should happen.

If this turns out to be impossible, then bodies should probably be removed when their clients disconnect so you don't have male/grunt bodies left behind.

[2016-12-28 16:43] m4son opened #38 "'sv scramble' breaks teamdm"
While in teamdm mode teams are scrambled and players stay in observe mode, waiting for a round to start but teamdm has no rounds.

[2016-12-29 07:18] Raptor007 commented on #17
Huh, this doesn't seem to be true anymore, possibly due to this commit: https://github.com/Raptor007/aq2-tng/commit/22fc2d50f0a9eeebeb60a4d552f6a0f95ccd8ce0

I'll reopen the issue if this crops up again.

[2016-12-29 07:18] #17 closed, assigned to nobody

[2016-12-29 07:21] Raptor007 commented on #20
Possibly fixed by clearing team of disconnected clients at map change: https://github.com/Raptor007/aq2-tng/commit/598aa6a28eb0b7ae7098927f8435c68789e76d08

[2016-12-29 08:23] Raptor007 commented on #28
By clearing `client.resp` in g_spawn.c `SpawnEntities`, I might have broken `auto_join` in p_client.c `ClientBeginDeathmatch`.

It now keeps `client.resp.team` if `auto_join` is enabled: https://github.com/Raptor007/aq2-tng/commit/637c290972fd68b6176ed814bd145e905c9b48dd

[2016-12-29 09:20] Raptor007 commented on #38
This is also true for ctf.

[2016-12-29 09:44] Raptor007 commented on #38
Fixed in commit: https://github.com/Raptor007/aq2-tng/commit/311ae06aff1dee0122e7b283d580a8b444ae4b4f

[2016-12-29 09:44] #38 closed, assigned to Raptor007

[2016-12-29 10:26] Raptor007 commented on #18
Added this feature in commit: https://github.com/Raptor007/aq2-tng/commit/a78334c2baa9ec58e04a84c295124c99e5be184c

There is currently no way to disable this by cvar, but I could easily add one if anyone would like that.  Let me know.

[2016-12-29 11:06] Raptor007 commented on #36
The problem is that `ent->solid` becomes `SOLID_BBOX` when it should be `SOLID_NOT`.

[2016-12-29 11:36] Raptor007 commented on #36
During Lights Camera Action, `ent->solid` is `SOLID_TRIGGER`.  If you change maps while that's still true, the "unstick" feature sets this to `SOLID_BBOX`: https://github.com/Raptor007/aq2-tng/blob/a78334c2baa9ec58e04a84c295124c99e5be184c/source/p_view.c#L1262

It's still unclear how `ent->solid` is `SOLID_TRIGGER` when you get to `ClientEndServerFrame`; it becomes `SOLID_NOT` when you change the

[2016-12-29 12:33] Raptor007 commented on #36
Aha!  In a_team.h, `POSTTRACE()` is a macro that includes `TransparentListSet(SOLID_TRIGGER)`.  Changing maps during Lights Camera Action avoided clearing `transparent_list`.  Adding `InitTransparentList` to g_spawn.c `SpawnEntities` solved the issue: https://github.com/Raptor007/aq2-tng/commit/89d1fee8a1547e90924155b26335b7041d25faf0

[2016-12-29 12:33] #36 closed, assigned to Raptor007

[2017-01-04 19:37] Raptor007 opened #39 "Lasersight ignores kick angles on additional frames with cl_updaterate > 10."
If cl_updaterate is 10, the lasersight follows M4 recoil climb as expected.  For higher rates, it bounces back and forth between the player's original look angle and the upward recoil angle.

[2017-01-10 06:12] Raptor007 commented on #23
It turns out the request was intended for multi-team brackets where only 2 teams play at a time.  That being the case, 4team isn't really the best way to implement this (since that would require more spawn locations and scoreboard tweaks that don't really apply).

[2017-01-10 06:12] #23 closed, assigned to nobody

[2017-01-10 09:17] Raptor007 commented on #29
This could also have been related to `client.resp` not being cleared between maps, so it might have been fixed in this commit: https://github.com/Raptor007/aq2-tng/commit/598aa6a28eb0b7ae7098927f8435c68789e76d08

[2017-01-13 07:57] Raptor007 commented on #22
Implemented here: https://github.com/Raptor007/aq2-tng/commit/2d379647a6907e16aff1ad224c8b4da563f90c58

[2017-01-13 07:57] #22 closed, assigned to Raptor007

[2017-01-16 09:58] Raptor007 commented on #29
I believe this is fixed; if not, I will re-open the issue.

[2017-01-16 09:58] #29 closed, assigned to Raptor007

[2017-01-16 09:59] Raptor007 commented on #20
I believe this is fixed; if not, I will re-open the issue.

[2017-01-16 09:59] #20 closed, assigned to Raptor007

[2017-01-16 10:14] Raptor007 opened #40 "Let knives move with doors, and don't let doors crush items."
_Original title: Allow knives to stay stuck in doors as they open/close._

If a throwing knife hits a door and then you open the door, the knife disappears.  Instead, it should move with the door, like splats and bullet holes now do: https://github.com/Raptor007/aq2-tng/commit/b153572f7a939c076b11cdbd94ba59a86036dbc2#diff-b29d7d7baca641fddebef179956b1547R868

[2017-01-20 08:42] Raptor007 commented on #26
Ammo when picking up a weapon is controlled by p_weapon.c `Pickup_Weapon`: https://github.com/Raptor007/aq2-tng/blob/ff13fc5b37ce31e67ec14c76f0e92ccf543438bf/source/p_weapon.c#L264

The weapon's current ammo will need to be assigned to the dropped item in p_weapon.c `Drop_Weapon`: https://github.com/Raptor007/aq2-tng/blob/ff13fc5b37ce31e67ec14c76f0e92ccf543438bf/source/p_weapon.c#L806

It looks li

[2017-01-24 05:28] Raptor007 opened #41 "Bots appear to move jerky to clients with cl_updaterate > 10."
I intentionally left the bots updating at 10fps so their randomized-per-frame decisions would still function correctly, so this is probably why they don't move smoothly.  I should have them update at the server's framerate, and maybe utilize `FRAMESYNC` to keep their randomized logic operating correctly.

[2017-01-24 10:07] Raptor007 commented on #41
Mostly fixed here: https://github.com/Raptor007/aq2-tng/commit/04018c7a67cddf587fc10b3a04c9ac4009a89faf

The bots still have some random things going on each frame, but they're so intertwined in the logic that I might just leave this alone until I do the total bot rewrite.

[2017-01-24 11:08] Raptor007 commented on #39
I'll start by looking into `client->kick_angles` and `client->ps.kick_angles`.

[2017-01-25 11:15] Raptor007 commented on #39
Somehow `client->kick_angles` must be getting cleared when `!FRAMESYNC` but I haven't figured out where yet.  I could use `ps.kick_angles` instead as it does appear to work correctly on all frames, but it includes additional motion such as walking head bob and taking damage head tilt which isn't usually applied to the laser sight.

By the way, this lasersight bug also applies to the flashlight, as

[2017-01-25 11:51] Raptor007 commented on #39
Somehow `client->kick_angles` must be getting cleared when `!FRAMESYNC` but I haven't figured out where yet.  This lasersight bug also applies to the flashlight, as they both use `kick_angles` the same way.

I've just patched it so if sv_fps>10, I'm using `ps.kick_angles` instead as it does appear to work correctly on all frames: https://github.com/Raptor007/aq2-tng/commit/4ba0d6bba6920565cec06c18

[2017-01-26 21:15] #41 closed, assigned to Raptor007

[2017-01-29 01:26] stan0x opened #42 "Speedhack with legs damage. cl_maxfps 1 BUG"
If hit in the legs or leg damage from falling and set ¨cl_maxfps 1¨ u can walk fast again. Some people use this with smart binds while bandage so they can make benefit of if like a speed hack.

Also bandage feels a lot different with low fps against high fps. Maybe its a good way +speed is forced while there is legs damage.

[2017-01-30 20:20] Raptor007 commented on #42
I'm pretty sure this can be solved in p_client.c `ClientThink`: https://github.com/Raptor007/aq2-tng/blob/4bea2afda22a7f2d01df1dd720e4569a8b8f8943/source/p_client.c#L2802

First I'll investigate the possibility that `cl_maxfps 1` can prevent `ClientThink` from happening when `(framenum/framediv)%6 <= 2`, the frames needed to induce stumbling: https://github.com/Raptor007/aq2-tng/blob/4bea2afda22a7

[2017-02-06 08:48] Raptor007 commented on #42
The old AQ2 code for stumbling reduced the velocity for the next frame while trying to avoid interfering with velocity that comes from other sources, such as falling or standing on a moving platform.  Clients could avoid these velocity reductions with `cl_maxfps 1`, and I verified that the same cheat works in 1.52 as well.

**Fixed:** It would be a mess to try to make the old stumble code robust a

[2017-02-06 10:38] Raptor007 commented on #42
I had to tweak this a little more because Quake2 crouched walking and running are the same speed, but AQ2 stumbling should also apply when crouched: https://github.com/Raptor007/aq2-tng/commit/7c1e6ee8a007e45c2191bfcf76d0d5f1d0569b9f

[2017-02-07 22:31] m4son commented on #40
weapons or items in front of the doors on the ground disappear too.

[2017-02-09 05:17] Raptor007 commented on #42
I need to get rid of the "really stop jumping" part because it prevents `sv slap` and other sources of damage from throwing a player with hurt legs into the air.

[2017-02-09 12:30] Raptor007 commented on #42
Tweaked to more closely match 1.52 (without its cheat vulnerability) and I was able to clean up the leg damage jump prevention too: https://github.com/Raptor007/aq2-tng/commit/fc892c78706055c45acc43a087a7307e25d80812

It's still _a little_ faster to get across the map with leg damage than 1.52 was, but at this point it's close enough for me.

[2017-02-09 12:32] #42 closed, assigned to Raptor007

[2017-02-10 21:30] Raptor007 commented on #42
Maybe when frame%6==5 it should use leghits to partially slow down.

[2017-02-13 08:15] Raptor007 commented on #42
I did some more tweaking and testing, and it is now an almost perfect match for 1.52 stumble speed, including multiple levels of `leghits`: https://github.com/Raptor007/aq2-tng/commit/cdbcf811d3c990b0e4cbd04a6fd1f417f8e5036e

[2017-02-13 20:33] Raptor007 commented on #33
I checked; using a non-whole value between 0 and 1 does cause a sound to carry farther.  I'm not sure if I can set the attenuation for llsound though.

[2017-02-14 07:55] Raptor007 commented on #33
Added `loud_guns` cvar for attenuation 0.4, which is audible across actcity3: https://github.com/Raptor007/aq2-tng/commit/6085ae7ce93832fbe0a45f7656190841e633593e

[2017-02-15 06:44] Raptor007 commented on #33
This has been thoroughly tested now.  I was afraid it might mess up the perceived distance of enemies, but you get used to it really quickly.  Everyone who tested this with me seemed to really like the change, so I will have it enabled by default.

[2017-02-15 06:44] #33 closed, assigned to Raptor007

[2017-02-15 06:54] Raptor007 opened #43 "3-round burst should not delay before firing."
Burst mode has a delay before the first shot.  This is annoying, especially because high pings already have to wait for round-trip latency to see their shot.

[2017-02-15 07:28] Raptor007 commented on #43
When starting burst fire, it was setting the weapon frame to one before the first burst fire frame.  Now it starts at the first burst fire frame: https://github.com/Raptor007/aq2-tng/commit/dbdccbb4c8819590138ab3aa1656987bcd56147e

[2017-02-15 09:23] Raptor007 commented on #43
I thought I'd need to add delay after the burst to keep it balanced, but honestly I think it's perfect now.  If anyone wants a cvar to toggle back to the old delayed burst, let me know.

[2017-02-15 09:23] #43 closed, assigned to Raptor007

[2017-02-15 10:33] Raptor007 opened #44 "Some platforms move strangely with sv_fps > 10."
On cliff, the tram moves at slightly the wrong angle, and adjusts itself at the end.  Also, riding the tram on cliff or cliff2 causes the player to scoot about once per second.

[2017-02-15 12:25] Raptor007 commented on #15
If this is related to `transparent_list`, it's possible this was fixed when #36 got fixed: https://github.com/Raptor007/aq2-tng/commit/89d1fee8a1547e90924155b26335b7041d25faf0

[2017-02-15 12:43] Raptor007 opened #45 "Scores2 should be centered for any width."
The X position for scores2 needs to adjust with the width of the text.

(It is currently roughly centered for `scores2teamplay 103` and `scores2ctf 31`.)

[2017-02-15 22:28] Raptor007 commented on #26
When this cvar is enabled, dead players should also drop their extra magazines.

[2017-02-16 00:02] Raptor007 commented on #34
This was also the pistol pickup behavior of 1.52, so I will roll this change into the same cvar as #26.

[2017-02-16 00:02] #34 closed, assigned to nobody

[2017-02-16 00:03] Raptor007 commented on #26
This cvar should also prevent pistols from refilling automatically when you pick up another.

[2017-02-16 15:28] stan0x commented on #15
Great haven't seen it crash on my servers ! Can u add this  so it will be more smooth for public servers.

* auto balance is not working. players can join same team then game stops and starts in warmup.  ( can be annoying with some people that have no respect )
* dm_shield should be enable while warmup is set to 1. ( so no spawn kills can be made. )
* spectating not working while players spawned i

[2017-02-17 09:03] Raptor007 commented on #45
Fixed: https://github.com/Raptor007/aq2-tng/commit/5a3fa93994c82196e68529db42c92787fa656cc9

[2017-02-17 09:03] #45 closed, assigned to Raptor007

[2017-02-25 06:14] Raptor007 commented on #39
The problem is that the end of `ClientEndServerFrame` does `VectorClear(ent->client->kick_angles)` _after_ the weapon firing sets `client->kick_angles` during a `FRAMESYNC` frame.  This happens after `client->ps.kick_angles` is set, which is why _that_ variable works (it only changes on `FRAMESYNC`).

[2017-02-25 07:01] Raptor007 commented on #39
Fixed by moving it to `ClientBeginServerFrame`: https://github.com/Raptor007/aq2-tng/commit/1069e60ad28ad1b4e387bbe4c139f85bcfe99876

[2017-02-25 07:02] #39 closed, assigned to Raptor007

[2017-02-27 02:49] Raptor007 opened #46 "Make sure 'sv resetscores' clears CTF captures and resets timelimit."

[2017-02-28 12:54] Raptor007 opened #47 "Allow firing without framesync for reduced shot lag with sv_fps."
If possible, allow weapon actions like firing and reloading to start happening on any frame.  Instead of checking for `FRAMESYNC` do something like:

[code]

[2017-03-01 00:54] Raptor007 commented on #44
It looks like this code could cause different rounding depending on sv_fps: https://github.com/Raptor007/aq2-tng/blob/1069e60ad28ad1b4e387bbe4c139f85bcfe99876/source/g_func.c#L145

Perhaps some of it should be reverted to this form: https://github.com/Raptor007/aq2-tng/blob/fa37c2af5c92b13ce29cc57ea9b9ad16d93ef6ba/source/g_func.c#L147

[2017-03-01 09:21] Raptor007 commented on #44
The problem with the cliff tram's motion was that `Move_Begin` calculated the velocity once, then set `nextthink` to the end of the platform's motion with `Move_Final`.  Every frame, the velocity is scaled by `FRAMETIME` and added to the position.  This is not completely precise, and it resulted in an accumulating error in position which was not corrected until the `Move_Final` think event.  The v

[2017-03-01 10:00] Raptor007 commented on #46
I fixed the clearing of CTF captures: https://github.com/Raptor007/aq2-tng/commit/5f69887a8ed7905742a00118650990a9374908a6

I'm actually not sure if I can do anything about the timelimit unless I start using `level.matchTime` for the timelimit regardless of matchmode.  I don't think I should just reset `level.time`.

[2017-03-01 10:45] Raptor007 commented on #46
It actually wasn't that bad implementing `level.matchTime` for non-matchmode and using it for all timelimit/halftime checks: https://github.com/Raptor007/aq2-tng/commit/6787779b52765c4862e26e43cb478bdb84a22640

[2017-03-01 11:01] #46 closed, assigned to Raptor007

[2017-03-04 10:58] Raptor007 commented on #44
The scoot problem was caused by this: https://github.com/Raptor007/aq2-tng/blob/6787779b52765c4862e26e43cb478bdb84a22640/source/g_main.c#L1010

Somewhere during the processing of a frame, the platform's `linkcount` is incremented.  If the server processed the next frame without any `ClientThink` events first, the client's `groundentity_linkcount` wouldn't match, and so its `groundentity` would be

[2017-03-04 11:12] Raptor007 commented on #44
As far as I can tell, the scooting is totally fixed now.  Reopen this issue if it happens again.

[2017-03-04 11:12] #44 closed, assigned to Raptor007

[2017-03-04 13:18] Raptor007 commented on #47
This seems to do the trick: https://github.com/Raptor007/aq2-tng/commit/3d81db187fbe9c0da418d6fc4d3565cb98e9d82c https://github.com/Raptor007/aq2-tng/commit/6b871af21e40bd79dc2ea191b586853774688ff4

[2017-03-04 21:12] Raptor007 commented on #21
I think I fixed this in acebot_items.c: https://github.com/Raptor007/aq2-tng/commit/0258bc6728bd62070cc3f67bed3028ddafce52be

[2017-03-05 01:54] Raptor007 opened #48 "Minimize FRAMESYNC/KEYFRAME for more responsive gameplay with sv_fps."
This worked out great with weapon firing (issue #47) and I think this could apply to more things to give clients slightly quicker feedback on sv_fps servers.

[2017-03-06 22:46] #47 closed, assigned to Raptor007

[2017-03-07 10:31] Raptor007 opened #49 "Don't allow kicking each other at the same time."
This never happened in 1.52, but happens frequently in TNG.

[2017-03-07 10:37] Raptor007 commented on #49
I could just set `tr.ent->client->jumping = 0` in `kick_attack` or check if `ent->attacker == tr.ent && ent->attacker_mod == MOD_KICK` to prevent the victim from kicking back, but 1.52 didn't do it that way and I want to make sure I'm not giving an advantage to lower client numbers.

[2017-03-07 12:20] Raptor007 commented on #48
I did some work on this: https://github.com/Raptor007/aq2-tng/commit/0af89413e91fafc0937066bcda26b52c19060179

There might still be room for improvement in p_view.c with opening doors, reloading, and changing weapon mode.

[2017-03-07 20:57] Raptor007 opened #50 "Prevent motd from getting in the way."
No matter how long `motd_time` is, it should never display during LCA or for a live player when a team round is going.

[2017-03-07 22:14] Raptor007 commented on #49
I think the difference is that `kick_attack` was handled by `ClientThink` in 1.52, but is handled by `ClientBeginServerFrame` in TNG.

[2017-03-08 08:14] Raptor007 commented on #49
Fixed: https://github.com/Raptor007/aq2-tng/commit/ae11d38411e3b6980b1eb02ee65a62a62af4bccc https://github.com/Raptor007/aq2-tng/commit/6bce0f152dd34ee48c922c74a5a2ef43679197ba

[2017-03-08 08:18] #49 closed, assigned to Raptor007

[2017-03-08 08:44] Raptor007 commented on #48
A few more tweaks: https://github.com/Raptor007/aq2-tng/commit/9679a65bf64789349005033776dae75006e42a42 https://github.com/Raptor007/aq2-tng/commit/bdb7451d0242ccdddd5f32129b78fd18670f30b7 https://github.com/Raptor007/aq2-tng/commit/afa8d8dd3e45ac782187e283ab8e68580b65bac8 https://github.com/Raptor007/aq2-tng/commit/95408860730c61c1932818af419add853d1dec0b https://github.com/Raptor007/aq2-tng/comm

[2017-03-08 09:02] Raptor007 commented on #50
I think this solves it: https://github.com/Raptor007/aq2-tng/commit/4c34f24d70199353219b8cfbf9cabf9b22efbf32

[2017-03-08 09:05] #50 closed, assigned to Raptor007

[2017-03-08 09:29] Raptor007 commented on #21
I did some pretty good stress testing and haven't seen this come back; I'm assuming it's fixed.

[2017-03-08 11:47] Raptor007 commented on #15
Warmup also probably shouldn't add to player stats.

[2017-03-10 04:51] #48 closed, assigned to Raptor007

[2017-03-10 11:46] Raptor007 commented on #24
This also occasionally happens when standing on a platform as it gets to the end of its travel (such as the cliff tram).

[2017-03-15 21:48] m4son opened #51 "add a cvar to change maplist via rcon"
Add an option to override maplist.ini rotation with something like g_maplist or sv_maplist "urban urban2 etc"

[2017-03-17 08:25] Raptor007 commented on #21
This is still a problem, and it can happen even from the botdata.cfg.  With the latest code it shows "ACEIT_PlayerAdded: More players than maxclients!" before crashing.  I suspect in some scenarios `num_players` is failing to be cleared on map change or decremented when players leave, and there could be bogus entries in the bot `players` array.

[2017-03-17 09:53] Raptor007 commented on #21
The dumb but easy method would be to rebuild the entire `players` array whenever `ACEIT_PlayerAdded` is called.  I might settle for that since I'm going to rewrite the bots anyway.

[2017-03-17 10:40] Raptor007 commented on #21
This should fix it: https://github.com/Raptor007/aq2-tng/commit/8f905ac75d39a1dca1bdd3a6fc6a413bd5626916 https://github.com/Raptor007/aq2-tng/commit/45b6e73b8c3ccce042ac0429d9242a30b5f4f6c1 https://github.com/Raptor007/aq2-tng/commit/9549e9aedcdecd7fdf4a48259afd058b11af2f8a

[2017-03-17 10:45] #21 closed, assigned to Raptor007

[2017-03-17 11:27] Raptor007 opened #52 "PF_cprintf to a free/zombie client"
When clients disconnect, the server log often says something like `PF_cprintf to a free/zombie client 0`.

[2017-03-17 23:19] Raptor007 commented on #52
Might need `if(!silent)` here: https://github.com/Raptor007/aq2-tng/blob/f99b5b49e0f31ed257d50b92b2411a873d4fe1ad/source/a_vote.c#L1673
It should probably also be modified to allow removing invalid subjects.

[2017-03-18 19:17] Raptor007 commented on #52
This was a problem in the bots branch.  It replaced `gi.bprintf` with `safe_bprintf` which would call `gi.cprintf` for each non-bot player entity.  However, this was unnecessary because `gi.bprintf` already avoids sending to bots.  Fixed: https://github.com/Raptor007/aq2-tng/commit/ac630271ce6f0b154b8eca89f23c237165504529

[2017-03-18 19:17] #52 closed, assigned to Raptor007

[2017-03-25 09:43] Raptor007 commented on #15
Warmup dm_shield: https://github.com/Raptor007/aq2-tng/commit/859e1ded4763b4dedf9e06e624f678589e9106c5
Don't change stats in warmup: https://github.com/Raptor007/aq2-tng/commit/62e468bb1d8340f8491c7c7d50b22d28ca2bd2b2
Always show death messages in warmup: https://github.com/Raptor007/aq2-tng/commit/d9b79b6cc3b8c311854d1ec6b2cafc1dc7b4e80f

[2017-04-26 10:05] Raptor007 opened #53 "JumpMod with spawnp/lca commands"
Stric (@m4son) would like to be able to run a jumpmod server with the latest TNG features like sv_fps support.  Some of this could be achieved with existing cvars like `dmflags` for fall damage, but commands like `spawnp` and `lca` don't exist in TNG, and some jumpmods have additional features like `precord`/`pstop`/`psave`/`pplay` to replay recent motion with a "puppet".

Could merge this as a st

[2017-05-06 01:45] Raptor007 commented on #24
Sometimes getting hit by a door also changes your view angle.  It'd be nice to solve that too.

[2017-05-10 04:42] Raptor007 opened #54 "AQ2:Rev alternate balance (new fork or cvar)"
@dynamic0 has proposed a rebalance, which looks interesting.  The gameplay is too different to be part of TNG, but it would be a good thing to try out as a fork or mode set by cvar.

https://www.dropbox.com/s/b5tv7rgfta2zoab/AQ2%20Revolutionary.pdf?dl=0

[2017-05-10 16:31] dynamic0 commented on #54
The AQ2 Rev. info can now be found at:  https://aq2-tng.com/aq2-rev/
This will be the most up-to-date one aswell.

[2017-05-10 21:35] m4son commented on #54
This idea has too much changes and should not be a fork. It should be new mod based on openffa or openTDM to eliminate all the rights of different developers...

[2017-05-10 22:09] Raptor007 commented on #54
It does seem like too many changes for a cvar, but I think it makes more sense to fork from TNG than from a different mod.

[2017-05-12 04:45] stan0x commented on #54
i agree with m4son. Bad idea from my opinion.

[2017-05-12 10:32] Raptor007 commented on #54
Hmm, why the opposition?  This would be a separate branch.  I would never bring these kinds of massive gameplay changes into TNG.

[2017-05-12 14:12] dynamic0 commented on #54
As Raptor said, this would obviously be a separate try-out branch, which - if it seems reasonably adequate - would then be imported to some servers for more people to try out. I'm not forcing any new changes to the game's current state ( and TNG ), I'm just trying to invent something new, which, in my opinion, would be not only refreshing to the scene, but maybe a succesful renewed version of Acti

[2017-05-13 00:02] Raptor007 opened #55 "Fix team balancer?"
@stan0x reported that even with auto-balance enabled, players are able to join and unjoin their team during warmup, preventing the real game from starting. https://github.com/Raptor007/aq2-tng/issues/15#issuecomment-280362158

A quick glance through the tng_balancer code shows some behavior that doesn't quite make sense to me.  I don't usually run the balancer on my server so I'll need to do some

[2017-05-13 00:02] Raptor007 commented on #15
I've opened a new issue for auto-balance: #55

So the last to-do item here is spectating warmup mode, which would be kind of messy, but I think it could be done.

[2017-05-13 22:59] Raptor007 commented on #40
I think the reason items are disappearing is because the `item->pickup` function returns true for touching a door: https://github.com/Raptor007/aq2-tng/blob/master/source/g_items.c#L835

[2017-05-15 21:40] Raptor007 commented on #24
This is probably why doors screw up your view angle:
https://github.com/Raptor007/aq2-tng/blob/master/source/g_phys.c#L506

[2017-05-15 22:01] Raptor007 commented on #40
Wow, this one is more complicated than I thought it'd be!

Rotating doors have `ent->blocked = door_blocked`:
https://github.com/Raptor007/aq2-tng/blob/ce72b4a6a9a294568e529cf7a0c66bc7efe57c6e/source/g_func.c#L1403

The `door_blocked` function destroys items here:
https://github.com/Raptor007/aq2-tng/blob/ce72b4a6a9a294568e529cf7a0c66bc7efe57c6e/source/g_func.c#L1190

And the `ent->blocked` is onl

[2017-05-16 03:12] Raptor007 commented on #40
I think knives will need to be a special case, so they follow doors in both directions.

[2017-05-16 06:08] Raptor007 commented on #24
This should stop platforms and doors from messing up your view angle: https://github.com/Raptor007/aq2-tng/commit/93a5b8bc8c501fd9fb04e71fdc0db1e89aa9643b

[2017-05-16 08:10] Raptor007 commented on #40
Special case for knives is done: https://github.com/Raptor007/aq2-tng/commit/800d0dfd45593dd1b19daf31a6740ab843d5e74f

[2017-05-16 08:48] Raptor007 commented on #40
I suspect `SV_TestEntityPosition` is always returning true for dropped items because `ent->mins[2]` is negative, which would make platforms think they are always trying and failing to push nearby items.  This would explain why throwing a knife anywhere near the spinning thing on q2dm5 makes it stop.

[2017-05-16 12:32] m4son commented on #40
Not just knives, items and weapons infront of the doors **are nicely** pushed away, but if its pushed to a wall or its near door joint it still disappear e.g. map time

[2017-05-16 20:33] Raptor007 commented on #40
Thanks @m4son.  I won't focus so much on q2dm5 for my testing then, because pushing some items doesn't seem to work right on that map, but people don't usually play AQ2 on those maps.

It sounds like I might need to change items that are blocking a door to `MOVETYPE_NONE` instead of despawning them, unless it's special weapons in non-teamplay DM so they can reset if they fall into a crusher or som

[2017-05-17 11:25] Raptor007 commented on #40
Doors should no longer squish items: https://github.com/Raptor007/aq2-tng/commit/2ea92463fece0f9d8c78c61a119400356dc5f61d

[2017-05-17 23:04] #40 closed, assigned to Raptor007

[2017-05-23 01:28] Raptor007 commented on #40
Tweaked to prevent floating items: https://github.com/Raptor007/aq2-tng/commit/1d13455b91ec7a18a2b39d1a721a0ecd5851e127

[2017-05-23 07:57] stan0x opened #56 "Weapon sound ugly when using sv_fps 20 with machine guns"
When playing on server with sv_fps enable sometimes weapon sounds weird.  i do not know if its q2pro related or aq2_tng. It sounds like a double weapon sound with a sort of echo. i also heard the sniper rifle with a double shot.

[2017-05-23 07:58] Raptor007 opened #57 "Third-person player models sometimes animate too fast when firing full-auto."
Seemingly randomly on sv_fps servers, it looks like the weapon is jiggling really fast when you view someone 3rd person who is firing full-auto MP5 or M4.  My guess it that the animation state is being allowed to change too quickly when going to firing, possibly if they started shooting on a non-framesync frame.

[2017-05-23 09:13] Raptor007 commented on #56
This is because enhancement #47 allows shots to begin on any frame.  A single player's shooting will still sound normal because the delay between their shots is still the same.  But multiple players shooting full-auto at the same time may or may not be synchronized.  If they are out of sync, you will hear distinct shots more often than you're used to at 10fps.

The thing is, this isn't really a bu

[2017-05-23 10:10] Raptor007 commented on #24
I think all that remains is a problem with `delta_angles[PITCH]` when leaving first-person chase cam.

[2017-05-24 09:09] Raptor007 commented on #57
Probably around here somewhere: https://github.com/Raptor007/aq2-tng/blob/eed99469fb23a2756d9eaca4436bdad9061c423c/source/p_view.c#L1003

[2017-05-24 09:25] Raptor007 commented on #57
Actually I think this is the main reason this happens randomly, although it probably only matters with sv_fps because `anim_framesync` isn't quite working as intended:
https://github.com/Raptor007/aq2-tng/blob/eed99469fb23a2756d9eaca4436bdad9061c423c/source/p_weapon.c#L2357
https://github.com/Raptor007/aq2-tng/blob/eed99469fb23a2756d9eaca4436bdad9061c423c/source/p_weapon.c#L2514

[2017-05-26 20:24] dynamic0 opened #58 "In-game menu instructions"
TNG has in-game-menu with these navigation instructions. Maybe change the keys to actually represent the real bindings of invnext, invprev, inven and invuse since they are not always default, or just remove the instructions completely?
![menuissue](https://cloud.githubusercontent.com/assets/20885238/26511387/79214148-426a-11e7-9e7d-b032aea27ecb.png)

[2017-05-26 23:36] Raptor007 commented on #58
The AQ2 menu is somewhat unintuitive for new players, so I don't think the instructions should be removed.

The menu is generated by the server, and I don't think it has any way of getting the client's key binds.  However, I could make those 3 lines of the menu customizable by the player, so if you rebind the keys you could also update your menu to match.  I think that's the best fix possible.

[2017-05-27 22:29] m4son commented on #57
Skuller's openffa has no problems with animation at all, you might wanna peek at his openffa repository @
http://git.skuller.net/openffa/

[2017-05-31 01:24] Raptor007 commented on #57
I just checked it out, and the reason they don't have any animation issues is that their animations and `Weapon_Think` are still restricted to 10fps via `FRAMESYNC`: http://git.skuller.net/openffa/tree/p_client.c#n1900

So `sv_fps` doesn't reduce the shot lag in OpenFFA like it does in TNG: https://github.com/Raptor007/aq2-tng/commit/3d81db187fbe9c0da418d6fc4d3565cb98e9d82c

[2017-06-07 05:55] Raptor007 commented on #57
To reduce lag with `sv_fps` (#47 #48) I allowed animations and shooting to begin on any frame instead of the original `FRAMESYNC` 10fps, but I didn't synchronize them.  I'm pretty sure this is what caused the player shooting animation to move too quickly.

When a weapon fires, it sets the animation frame to 1 _before_ the first actual firing frame:
https://github.com/Raptor007/aq2-tng/blob/12e0a2d

[2017-06-07 06:11] #57 closed, assigned to Raptor007

[2017-06-07 12:53] m4son commented on #28
After a map change I still cant join team with **bind x team 1**(2) for 5seconds
It works OK via menu.

[2017-06-07 14:15] dynamic0 opened #59 "Ignoring"
When Player1 ignores Player2, Player1 should not see Player2's name changing messages nor hear his radiosounds. I also think that the notify that 'Player ignores you' is redundant.

[2017-06-07 18:25] Raptor007 commented on #28
@m4son  Are you using auto-balance?  I'm not sure if that's the reason but it could be related.

[2017-06-07 19:31] m4son commented on #28
No, use_balancer is **"0"**

[2017-06-07 20:35] Raptor007 commented on #28
Thanks!  I think this should fix it: https://github.com/Raptor007/aq2-tng/commit/ca67a53480ae80009594c36006ecd22ec4672d1d

I'll push it to the main aq2-tng after I do a little more bug fixing and testing.

[2017-06-09 00:39] Raptor007 commented on #59
For name changes, this broadcast will have to be changed to a loop over the list of possible message recipients: https://github.com/Raptor007/aq2-tng/blob/12e0a2d09b406133804aadc9c942be16e74db2d7/source/p_client.c#L2535

That means I could also prevent live players from seeing dead player name changes if `deadtalk` is turned off.

Radio should be easy, just need to add `if( ! IsInIgnoreList(ent,fr

[2017-06-09 07:02] Raptor007 commented on #59
I think this should do the trick: https://github.com/Raptor007/aq2-tng/commit/92c419178e95ee67cd1412c6e601a7a9694abf56

[2017-06-13 08:36] Raptor007 commented on #58
Bad news.  I just tried adding a new `CVAR_USERINFO` variable but it didn't register on the client.  I don't think there's any way to get the client to volunteer new information to the server; the list of userinfo variables seems to be hard-coded into the client exe.

It _is_ possible to make a new command like `menukeys [ ] ENTER TAB` but you would have to execute it on the client _after_ you con

[2017-06-13 08:52] Raptor007 commented on #51
@m4son Now that you guys have access to Peli again, is this still an important feature?  It could be done but it's a little messy to untangle all the code assumptions that the map list is in a file, and I think `maplistname` is a better way for server admins to manage multiple map lists.

[2017-06-13 15:18] dynamic0 commented on #58
That's unfortunate. I don't like the idea that commands does not work until joining the server (like radiogender)

What I think would be the best, is to make every client use Uparrow, Downarrow, Enter and TAB for navigating. Though there probably would be problems with executing double commands, if one of the keys above has been bound to something else.

[2017-06-13 21:16] Raptor007 commented on #58
The server can't force client keybinds, or even change the defaults.  The brackets work because the Quake2 client default binds for those keys are `invprev` and `invnext`.

The default binds for uparrow and downarrow are `+forward` and `+back` which become positive and negative values of `ucmd->forwardmove` in `ClientThink`.  In theory it's possible to use that data to move the menu cursor, but it

[2017-06-19 12:42] m4son commented on #51
Well it is not just about Peli. There is a second option to make a q2admin lua script for this. But then it would be nice to have a cvar to enable/disable automatic map switch at the end of the match.

[2017-06-20 04:09] Raptor007 commented on #59
The fix has been pushed upstream.  Reopen the issue if you find any problems with it.

[2017-06-20 04:09] #59 closed, assigned to Raptor007

[2017-06-20 04:09] Raptor007 commented on #28
Pushed upstream!  Feel free to re-open this if you find problems again.

[2017-06-20 04:09] #28 closed, assigned to Raptor007

[2017-06-30 04:33] stan0x opened #60 "Some times unable to spawn in warmup mode after map change."
after map change we can not always spawn in warmup mode. Dont know the reason of it.

[2017-06-30 20:35] m4son commented on #60
You only spawn to warmup if you select teams by MENU that shows up when joining server but If you join to a team by a bind, you can only observe.

[2017-06-30 21:55] stan0x commented on #60
strange thing i joined team by the menu and still no spawn ! other people complain about the same issues.

[2017-06-30 23:38] m4son commented on #60
You need to pick weapon&item too, either by menu or with a bind.

[2017-06-30 23:45] stan0x commented on #60
ofc i did.

[2017-07-01 21:40] stan0x commented on #18
raptor can u make a cvar to turn this function off ?

some people dont like it. so its best to make it a option i think.

[2017-07-03 11:04] Raptor007 commented on #56
No promises, but I thought of a better way this might be possible.  It could sync sounds only if someone is currently firing a machine gun, which means most of the time there wouldn't be sound lag.

[2017-07-08 23:51] Raptor007 commented on #18
Added `mapvote_next` cvar, default enabled: https://github.com/Raptor007/aq2-tng/commit/e0947e74d73d5beb6d2b5a97f36718c5f5954e34
Set `mapvote_next 0` to disable using the most voted map when the map ends.

[2017-07-08 23:51] #18 closed, assigned to Raptor007

[2017-07-12 09:52] Raptor007 commented on #56
First version of a fix for this: https://github.com/Raptor007/aq2-tng/commit/91a3a36244ab28f2d6a1c1590ca0883b6107890c

[2017-07-12 11:36] Raptor007 commented on #56
Added `sync_guns` cvar and fixed FRAMESYNC sound lag: https://github.com/Raptor007/aq2-tng/commit/4b96f4be0ad249522e32640fb0439056c8b05aea

[2017-07-12 11:50] Raptor007 commented on #56
Default `sync_guns 1` should prevent strange sound overlaps, but in case it doesn't `sync_guns 2` will force the old laggy FRAMESYNC sound behavior: https://github.com/Raptor007/aq2-tng/commit/74f4794289b70e81f76313cc258ac8fbc3d3f11e

[2017-07-12 11:55] #56 closed, assigned to Raptor007

[2017-07-13 18:57] Raptor007 commented on #16
Date in actionversion: https://github.com/Raptor007/aq2-tng/commit/ddd24b5636edd8250e95921110e9e6d4b06c9c8a https://github.com/Raptor007/aq2-tng/commit/c7f1ae632bd60aa331c37c20204c6d45c319cf2c https://github.com/Raptor007/aq2-tng/commit/2ab0a3ede3c68f5aaf561456570da483ebb8148e https://github.com/Raptor007/aq2-tng/commit/7ced11381becf9b7af64d0fc7a5394ce1cba0132 https://github.com/Raptor007/aq2-tng/

[2017-07-13 18:57] #16 closed, assigned to Raptor007

[2017-07-13 19:10] Raptor007 opened #61 "Auto_join should also remember weapon/item selection."

[2017-07-13 22:50] m4son commented on #61
Hm, there is cvar auto_equip for this.

[2017-07-14 03:46] Raptor007 commented on #61
@m4son  Perfect, thanks!  That's in a different part of the code, so I didn't notice it.

I wonder if always assigning equipment would solve issue #60?

[2017-07-14 03:46] #61 closed, assigned to nobody

[2017-07-21 17:41] deluv commented on #60
Yo Raptor, dont know how to send a message in this site so I'm just using an open issue to get in touch with you, sorry about that. I've recently spoken to Quetoo creator and he is pretty open about the idea of making a "Quetoo Action Quake 2"... and to have an enhanced Action Quake 2 would be awesome... but I don't know what it would take to make this happen. Anyway, people told me you're the one

[2017-07-21 22:09] Raptor007 commented on #60
@deluv This is an okay place to reach me, but opening a new issue would be better than commenting on an existing one.
Even better, message me on QuakeNet #aq2world: http://webchat.quakenet.org/?channels=aq2world
I also keep an eye on the AQ2 subreddit: https://www.reddit.com/r/AQ2/

Action Quetoo is a cool idea, but I haven't done enough research to commit to anything yet.  If the Quetoo mod inter

[2017-07-24 14:11] dynamic0 opened #62 "Stuff about command TIME"
When new map is starting with a warmup, the maptimer begins immediatly. So when the warmup ends, and the real game begins there is about 19 minutes left the map instead of 20.

Now, I don't know if this is really noteworthy mention, but I just thought giving it out.

[2017-07-25 03:34] Raptor007 commented on #62
This is consistent with old AQ2 behavior -- the map timer starts when the maps starts, even if nobody is on a team yet.  So, I don't consider this a bug.

If you enable `matchmode` then it only counts time played, but that also complicates starting the game by requiring captains to ready up.

I did make a change https://github.com/Raptor007/aq2-tng/commit/6787779b52765c4862e26e43cb478bdb84a22640 t

[2017-07-25 15:16] dynamic0 commented on #62
Actually when thinking about, it might be best to leave the [time] command as it is; counting up the map time. Alternatively, there could be [gametime] command that would count only the time played (maybe rounds too), ie. the time that has elapsed on active rounds.

1 more thing. When the timelimit has elapsed on teamplaymode, and the last round is dragging a little bit longer, using [time] comman

[2017-07-25 20:26] Raptor007 commented on #62
This should fix the "Remaining time" display: https://github.com/Raptor007/aq2-tng/commit/b704373848c930347cb044c52dc5c375930dbb15

I don't really want to run another timer just so it can show two different numbers.  I was thinking about a cvar to let you decide if the level timer includes time before the first round, which would also control if that time is counted towards timelimit.

[2017-07-26 04:13] dynamic0 commented on #62
Allright. If it's not a big deal, yes the cvar would be ok.

[2017-07-28 22:08] Raptor007 opened #63 "Quetoo build target"
Try to build AQ2:TNG for Quetoo: https://github.com/jdolan/quetoo/tree/master/src/game

@deluv @stan0x

[2017-08-02 07:56] Raptor007 commented on #63
This is looking like it might be a huge pain, but I started a branch to try:
https://github.com/Raptor007/aq2-tng/tree/quetoo

First step is making `G_LoadGame` (Quetoo's version of `GetGameAPI`) and the relevant data structures:
Quake2: https://github.com/Raptor007/aq2-tng/blob/b704373848c930347cb044c52dc5c375930dbb15/source/g_main.c#L505
Quetoo: https://github.com/Raptor007/aq2-tng/blob/ee2c8279

[2017-09-22 10:24] Raptor007 commented on #63
Working on it... https://github.com/Raptor007/aq2-tng/commits/quetoo
`make QUETOO=y`

[2017-09-24 19:03] dynamic0 opened #64 "dmweapon gives free weapon even if allweapon is 0"
In Deathmatchmode, even if allweapon is 0, and player should only have pistol and knife, the Player can get any weapon he wants at spawn by selecting it with the command 'dmweapon'. Also when playing with Bots, the Bots will get to use the weapon you have selected with dmweapon.

![aq2](https://user-images.githubusercontent.com/20885238/30785712-a0f2d084-a173-11e7-919f-0b30225354ed.png)

[2017-09-24 19:56] Raptor007 commented on #64
I think it's working as intended; `dmweapon` is a _server_ cvar that selects a weapon to spawn all deathmatch players with.  If you're the host, you have access to this variable.

The `allweapon` variable gives every player _all_ the weapons when they spawn.  You wouldn't need to use `dmweapon` in that case.

[2017-09-25 04:02] dynamic0 commented on #64
Okay. I thought this might be the case since dmweapon isn't accessible on public servers.

Though I would like that there would be a clientside command to choose the weapon at spawn when allweapon is 1.

This issue however can be scrapped.

[2017-09-26 19:54] #64 closed, assigned to nobody

[2017-10-22 22:05] Raptor007 opened #65 "Clear gibs on round reset."
Like this, but for gibs: https://github.com/Raptor007/aq2-tng/commit/2d415e1a792bc69322a8d05f7529e8c4830f0df3

[2017-10-25 00:32] Raptor007 commented on #65
I think this should do it: https://github.com/Raptor007/aq2-tng/commit/429da58ee2b15b0fa08044af4e5634019e172bbf

[2017-12-12 03:58] Raptor007 opened #66 "Domination mode"
Implement a team domination mode, like Unreal Tournament.  Define flag positions in tng/*.dom which players touch to switch to their team's color.  At regular intervals, the teams gain points for how many flags they control at that moment.

[2018-01-09 07:52] Raptor007 opened #67 "Investigate and clean up "ctf 2" code"
There are a couple of places that refer to `ctf->value == 2`:
https://github.com/Raptor007/aq2-tng/blob/1c5aad1a9dc79c545df4088582b93f2d4058dfc9/source/p_weapon.c#L438
https://github.com/Raptor007/aq2-tng/blob/1c5aad1a9dc79c545df4088582b93f2d4058dfc9/source/p_weapon.c#L390

But as far as I can tell, it would never be 2 anymore:
https://github.com/Raptor007/aq2-tng/blob/1c5aad1a9dc79c545df4088582b9

[2018-01-23 12:22] Raptor007 opened #68 "Try to fix "missing pic: ../players/*/*_i.pcx" in teamplay"
Not sure if I can fix this, but the way AQ2 does scoreboard icons has never meshed well with the way the Quake2 client tries to download new skins.  Clients that don't already have the _i.pcx thumbnails get spammed with missing image messages.  It'd be nice to clean this up somehow.

[2018-02-09 11:38] Raptor007 commented on #66
Done! https://github.com/Raptor007/aq2-tng/commit/0643726839ba693ecfd556d323ce0abf17414add https://github.com/Raptor007/aq2-tng/commit/d1eabe37406d3598cbe3ca84edf9aa62cbeb1ecf

[2018-06-01 12:45] stan0x opened #69 "Add option to force skin in deathmatch mode."
Is it possible to add a option to force a skin in deathmatch mode so everyone has the same skin ?

set force_skin "male/ctf_r"

[2018-06-01 22:45] Raptor007 commented on #69
That sounds pretty easy!  I'll look into it.

[2018-06-04 05:32] Raptor007 commented on #69
Done, mostly by stan0x: https://github.com/Raptor007/aq2-tng/commit/641aca6b3a629cc42d6c32274989b1e6877a75af https://github.com/Raptor007/aq2-tng/commit/c5a60c35431eb87707824ab5d362707c0f7ed9eb https://github.com/Raptor007/aq2-tng/commit/32d3f9ac5acd33892a3a6d835fa43e5acbdebcb9 https://github.com/Raptor007/aq2-tng/commit/6099b232796a5bc4d9ffeaec741c6e5a5c110370

[2018-06-11 09:22] Raptor007 commented on #66
Added some .dom files for a few maps: https://github.com/Raptor007/aq2-tng/commit/19e78f171fa7bd45dc95caf8cc545fd721de6d67

[2018-06-11 10:09] Raptor007 opened #71 "Constant footsteps when going down ladders."
The "small fall" doesn't check if you're on a ladder, so every frame climbing down, it makes a footstep sound:
https://github.com/Raptor007/aq2-tng/blob/19e78f171fa7bd45dc95caf8cc545fd721de6d67/source/p_view.c#L633-L637

This behavior existed in AQ2 1.52 and even in baseq2, but I don't think it was intentional as traveling up ladders is silent.  It also happens on every server frame, which means t

[2018-06-12 00:36] Raptor007 commented on #71
It's partially caused by this part:
https://github.com/Raptor007/aq2-tng/blob/19e78f171fa7bd45dc95caf8cc545fd721de6d67/source/p_view.c#L601-L606
The purpose seems to be making sure footstep sounds are generated if you bounce off some slopes without stopping.

[2018-06-12 00:57] Raptor007 commented on #71
It seems Pmove checks if you're on a ladder but never shares this flag with the mod:
https://github.com/skullernet/q2pro/blob/49c150d0b1b081f2da431188fd27ba8b52243957/src/common/pmove.c#L751-L760

[2018-06-18 09:26] Raptor007 commented on #71
Fixed: https://github.com/Raptor007/aq2-tng/commit/742044566591f26637876e5a3e467085a555e18e

Trickier than I thought.  It's important to preserve the ladder fall damage, and my `ladder` and `old_ladder` flags are not necessarily in sync with Pmove.  So to be safe I only consider the small delta that would create a foostep sound and don't touch anything with a higher delta, nor change the way it de

[2018-06-18 09:54] dynamic0 opened #72 "Footstep sounds when walking"
Related to last issue...

When cl_run is set to 1 and the player uses command +speed, it makes the player to move slowly without making footstep sounds. However, if the player would strafe even a little bit, a sound is produced. Is it possible/good idea to make player movements silent, when walking? Excluding falling, jumping or sliding on slopes.

[2018-06-18 17:53] stan0x commented on #72
+speed makes sounds when strafe since 1998. sv_silentwalk 1|0 would be a good option to build so server admins can make a choice if they want it enable or not. should be 0 by default if u ask me.

[2018-06-18 18:18] dynamic0 commented on #72
Sounds reasonable.

[2018-06-18 20:04] Raptor007 commented on #72
https://github.com/Raptor007/aq2-tng/blob/742044566591f26637876e5a3e467085a555e18e/source/p_view.c#L986-L991

Walk speed is 200, so the diagonal speed is about 283 when you walk forward and strafe at the same time.  I think `silentwalk` could just change the footstep threshold from xyspeed 225 to 285.  I also agree that this should be off by default because the old behavior makes stealth slippers

[2018-06-19 10:06] Raptor007 commented on #60
It seems like you can't late-join in domination mode, and I think it might be the same bug as this warmup spawn issue.  I have a couple of possible guesses based on this part of the code:
https://github.com/Raptor007/aq2-tng/blob/742044566591f26637876e5a3e467085a555e18e/source/p_client.c#L3140-L3191

It could be due to `ent->deadflag = DEAD_NO;` when going observer; that flag would need to be set

[2018-08-07 20:12] Raptor007 commented on #72
https://github.com/Raptor007/aq2-tng/commit/cc28d78b074df68dfa7f90825e2d0445c55aaf65

[2018-08-17 18:07] Raptor007 commented on #66
Fixed an issue where multiple players touching a flag was spammy: https://github.com/Raptor007/aq2-tng/commit/f17545bb66c1be1d83b3ba649a330c63588f34e1

[2018-08-22 20:23] #65 closed, assigned to Raptor007

[2018-08-22 20:23] #66 closed, assigned to Raptor007

[2018-08-22 20:23] #69 closed, assigned to Raptor007, stan0x

[2018-08-22 20:23] #71 closed, assigned to Raptor007

[2018-08-22 20:23] #72 closed, assigned to Raptor007

[2018-08-29 14:29] andrijan opened #73 "Windows 10 compile instructions"
Hey there!

Sorry for creating an issue here, but it was the only way I could reach you :)

About 5 years ago I was toying around modding AQ2, by adding Proximity mines, invisibility cloak and silly stuff like that. (https://github.com/andrijan/ajaq)

Now, I've been revisiting the idea of continuing the modding experience and I was delighted to find someone had picked up TNG!

Anyway, I've been se

[2018-08-29 21:27] Raptor007 commented on #73
No problem!  On Windows you'll want to use MinGW:
https://osdn.net/projects/mingw/releases/p15522

I also recommend including the path to command-line git in your MinGW environment:
https://stackoverflow.com/a/6093805/2005867

Then it should be this easy:
`git clone https://github.com/aq2-tng/aq2-tng.git`
`cd aq2-tng/source`
`make`

If it works, it'll make gamex86.dll in the aq2-tng/source directo

[2018-09-14 21:07] m4son opened #74 "Do not count headshot streak when in warmup mode"
https://github.com/Raptor007/aq2-tng/blob/5e840f05255f76cb5b3dfd3ffa44ac7560e82972/source/g_combat.c#L535

To avoid that it should probably look like
`if (!friendlyFire && !in_warmup)`

[2018-09-14 23:50] Raptor007 commented on #73
Feel free to re-open this ticket if you're still having troubles building it.

[2018-10-25 23:16] m4son opened #75 "Some ideas for this autum/fall"
I had some ideas for a long time ...

1. Since the GUN MODE introduced to some games in a past I was thinking
AQ2 could have some sort of that too. Not exactly the gun mode but ability that server admin can give a specific player an ammo or additional item like slippers or even a weapon for current round,
few rounds or even until game ends
`rcon giveplayer <id> <item/gun> <(#)num_rounds/(p)ermanen

[2018-12-11 02:32] Raptor007 commented on #75
I've been busy, but this is a good list for 2019.  :¬)

In addition to the "give" command, I could make a proper gun-game mode for AQ2.

[2019-01-27 11:47] dynamic0 opened #76 "sv addbot, bot amount parameters?"
**sv addbot 1 3** adds 1 bot named "3" to team 1.

Instead of **sv addbot [team] [name]** could it be:

**sv addbot [team] [amount] [name]**

or check if the second parameter has numbers or letters:

**sv addbot [team] [amount/name]**

When added more than 1 bot, generate random names for the bots.

[2019-01-31 01:14] Raptor007 commented on #76
I would rather not change and complicate the existing behavior, but how about a new addbots command that always uses random names?

`sv addbots [qty]`  add [qty] bots, auto-assign team if teamplay

`sv addbots [qty] [team]`  add [qty] bots to [team]

[2019-01-31 04:17] dynamic0 commented on #76
Seems like a good idea! 👍

[2019-03-12 19:36] m4son opened #77 "chasecam viewangle"
When leaving chasecam, spectators previous angle is restored instead of last player chased angle.

[2019-03-12 19:55] m4son opened #78 "distance tracking"
In some old fork from [Thomas Edwardsson](https://github.com/tomas-edwardsson/aq2tng/commits/master) there is a `distance` command which tracks player velocity while playing.

Right now `stats list` shows accuracy, maybe we could add distance covered there.
To show it on the scoreboard at the end would be cool too.

[2019-03-14 01:45] Raptor007 commented on #77
I think this is the same as bug #24.  I should take another crack at solving it.

[2019-03-21 00:36] Raptor007 commented on #78
That sounds pretty easy to track in p_client.c ClientThink, which processes player movements.

https://github.com/Raptor007/aq2-tng/blob/bots/source/p_client.c#L3042

[2019-09-16 10:14] Raptor007 commented on #76
Done, and pushed this update to main aq2-tng.

[2019-09-16 10:14] #76 closed, assigned to Raptor007

[2019-09-16 10:15] Raptor007 commented on #74
Done and pushed to aq2-tng.

[2019-09-16 10:15] #74 closed, assigned to Raptor007

[2019-10-18 10:43] Raptor007 opened #79 "'nextmap' is wrong with 'rrot 1'"
The `nextmap` command returns the wrong map name with `rrot 1` (random map rotation).  This might have gotten broken when I sorted the votemap list alphabetically, or it might have been broken before that.

[2019-10-18 10:50] Raptor007 commented on #63
At this point, I think it makes more sense (and would be **much** less work) to simply clean up AQ2 for Quake 2 RTX.  The main issue to solve is that there are .md3 models of Quake2 weapons and items in baseq2/q2rtx_media.pkz, which seem to override the .md2 files in any mod directory.

[2019-12-10 00:08] Raptor007 commented on #79
The problem is that it doesn't choose the random map until the current map ends.  What `nextmap` shows is the next map in sequential rotation.  To fix this, it'll need to select the random map in advance.

Also, should remove the `srand(rand());` on every map change, and start the game with a single `srand(time(NULL));` instead.
https://www.geeksforgeeks.org/rand-and-srand-in-ccpp/

[2020-02-18 19:18] stan0x opened #80 "Matchmode is broken when teams switch in ctf half of the map"
When playing ctf in matchmode. the teams switch half of the map time. Then captains are broken en teams stay ready. Its not posible to claim captain status en unready teams. Its look like when teams switched side they lose captain status.

[2020-03-09 22:35] m4son commented on #53
As a start You could merge jump branch to master, as you said. In addition, add spawnp and lca, commands from aq2-jmod. Should not be a lot of work for a master of your class , i guess? :| ;)

[2020-03-11 10:21] Raptor007 commented on #53
@m4son  I've merged jump into master (and bots) on my fork.  It was a messier merge than expected, so I need to do more testing before I push it to aq2-tng.

Server cvar: `jump 1`
Client commands: `jmod store` `jmod recall`

[2020-03-11 11:19] Raptor007 opened #84 "Votemap breaks if the winning map isn't actually found"
If you put a map into action.ini that doesn't exist, and it gets voted for, any player who voted for that map is no longer able to vote.

When loading the maplist, it should probably filter out any maps that don't actually exist.

[2020-03-12 02:14] Raptor007 commented on #84
I won't be able to determine if map files exist in advance because some maps may be in pak files, like the q2dmX maps.  It should be allowed to have those maps in your rotation.

AQ2 ExitLevel (g_main.c) uses ServerCommand `gamemap` to change to `level.changemap`.  It would be a good idea to detect if the level *should* have changed but didn't, and perform some cleanup such as properly clearing cl

[2020-03-12 08:58] Raptor007 commented on #26
Actually it looks like g_items.c `Drop_Item` would be the appropriate place to set the dropped ammo count, so that it also applies to dying players: https://github.com/Raptor007/aq2-tng/blob/1317847b3ee94291c3e9493af06350af9ea4b3da/source/g_items.c#L908-L972

[2020-03-15 15:57] m4son commented on #77
Another thing that might be related to this problem is when spectating in any mode, players frags at right-top corner are not updated.

[2020-04-07 15:57] m4son commented on #77
After some time testing, this commit from maniac, broke viewangles when leaving chasecam
https://github.com/aq2-tng/aq2-tng/commit/1f2ab927a61a1669996a858eda07d0c874fd0484#diff-d28e9c6c4bd174fbd6765f4e4b8acc95
Please look, it is a really annoying thing.

[2020-04-19 22:33] Raptor007 opened #85 "Zip Release of AQ2 Paks and DLL"
Some people have been reporting issues with Q2Online, and the old AQ2 1.52 client install is hard to find.  I think it's time to make a new easy zip archive of the **action** directory for people who already have Quake2 installed, containing the basics needed to play.

[2020-04-29 09:08] Raptor007 opened #86 "Animations with sv_fps"
Anything that changes `ent->s.frame` should also update `ent->client->anim_framesync` to ensure animations don't advance too quickly to their second frame at higher server framerates.

This could probably be solved with a new function replacing all raw animation changes:

    void SetAnimation( edict_t *ent, int frame, int anim_end, int anim_priority )
    {
        ent->s.frame = frame;
        e

[2020-04-29 09:20] Raptor007 commented on #86
Might also be useful to change `anim_framesync` to `anim_started` and use it to prevent people from switching back and forth from crouch to stand faster than 10 times per second.

[2020-05-12 11:29] Raptor007 commented on #86
I think this should do the trick:
https://github.com/Raptor007/aq2-tng/commit/e5a7bb7f62c127907ef1cadfd6b4bafa9a0b1d11

[2020-05-13 01:39] Raptor007 commented on #77
Thanks for tracking this down.  I have a hunch it's because he moved a bunch of code in UpdateChaseCam into the `if (!(game.serverfeatures & GMF_CLIENTNUM))` block, which I don't think would be true on any modern q2pro server.  For example, `chase_mode == 2` previously considered `delta_angles` and it no longer does.

Leaving this "before" version as a reminder for myself: https://github.com/aq2-t

[2020-05-13 05:58] Raptor007 commented on #77
This might be solved now: https://github.com/Raptor007/aq2-tng/commit/103580106e3345604af26e3243d0418efeb33953

[2020-05-13 05:58] Raptor007 commented on #24
This might be solved now: https://github.com/Raptor007/aq2-tng/commit/103580106e3345604af26e3243d0418efeb33953

[2020-05-13 12:37] m4son commented on #86
I tried spamming spacebar (jump) while holding crouch and animation played back nicely at low 10 frame rate with a sv_fps 60

[2020-05-18 19:49] Raptor007 commented on #24
Teamplay respawning still occasionally looks at your feet, even if you were alive before the respawn.  I have a hunch it's from this code:

https://github.com/Raptor007/aq2-tng/blob/b2314d82fff4ee16fba7084f9e16d6b7cf7c2474/source/p_client.c#L2318-L2326

I notice that it's using all 3 components of `spawn_angles` to calculate `delta_angles`, but only actually assigning the `YAW` component to `ent->

[2020-05-19 11:01] Raptor007 commented on #24
I'm hoping this change finally solved strange spawn pitch: https://github.com/Raptor007/aq2-tng/commit/745bf3fc43f55879e6f03c39b85c9a5bf8916c17

[2020-05-19 23:35] Raptor007 commented on #51
I think adding 32 to `dmflags` should disable automatic map switch:

https://github.com/Raptor007/aq2-tng/blob/745bf3fc43f55879e6f03c39b85c9a5bf8916c17/source/q_shared.h#L1262

https://github.com/Raptor007/aq2-tng/blob/745bf3fc43f55879e6f03c39b85c9a5bf8916c17/source/g_main.c#L683-L689

[2020-05-20 08:24] #86 closed, assigned to Raptor007

[2020-05-20 08:24] #77 closed, assigned to Raptor007

[2020-05-20 08:24] #24 closed, assigned to Raptor007

[2020-05-22 23:39] Raptor007 commented on #79
I think the cleanest way is to choose a random number from 1 to `num_maps - 1` when it starts playing a new map, and then `nextmap` and `EndDMLevel` will advance that many if `rrot` is enabled.  This will also provide a safer mechanism to avoid playing the same map twice than the current strategy of check and re-roll.

[2020-05-22 23:49] Raptor007 commented on #53
The `lca` command is kind of a problem; the other jmod turned it into a per-client variable, which would not be a good fit for TNG.  But I may be able to get the same result using the `uvTime` variable that `dm_shield` uses for temporary respawn invulnerability.

[2020-05-23 00:24] Raptor007 commented on #31
Current bots fill entities backwards from `maxclients`, which can conflict with real players if there are lots of bots and players.  Ideally, new bot code would use a range of entities that does not overlap with real players.

AQ2 makes a _lot_ of assumptions about the first block of entities matching up with clients.  To avoid having to overhaul loops and other code all over the place, hopefully

[2020-05-25 18:56] m4son commented on #51
Yea that works but it looks ugly since it says "Next map in the rotation is ." and then it restarts the map.
There must be a cleaner way ;)
I don't think we need map restart there, just reset scores and drop clients to spectators... where they can pick a team and weapon again... What do you think?

[2020-05-25 19:34] m4son opened #89 "sv_fps causing jerky movement on stairs or edges"
This time I'm gonna show the video :)
the yellow text at bottom-left corner shows player updaterate
[![VIDEO](https://img.youtube.com/vi/u9G4fXIgy0U/hqdefault.jpg)](https://youtu.be/u9G4fXIgy0U)

[2020-05-27 01:58] Raptor007 commented on #89
Thanks, the video does help!  I think this is what's happening:
![sv_fps on stairs](https://i.imgur.com/wn3Wfu2.png)

To the server, the player entity position is on the ground every frame.  When observed at a lower framerate with about 1 update per stair, client-side interpolation will make it will look like a smooth ascent.  If there are multiple position updates per stair, the entity remains at

[2020-05-29 03:32] Raptor007 commented on #89
The lasersight should also use this averaged height value.

Actually, the sudden change from crouch/stand is player viewheight, which requires a different trick to smooth.

[2020-05-29 09:53] Raptor007 commented on #89
This is _almost_ done, but it's causing a strange issue where 3rd person chase spectate has an orange tint over it, as though the camera were outside the map.  This is reproducible on kumanru in the upstairs room with the long boxes.

[2020-05-29 10:21] Raptor007 commented on #89
I fixed the orange chasecam tint, but while testing on kumanru I found that bots would sometimes spawn above the map.  This is probably caused by restoring a bogus value in `FrameStartZ` or averaging with bogus values in `FrameEndZ`.

[2020-05-29 10:42] Raptor007 commented on #89
I think I've got it!  I'll give it some more testing on my server before I push it up to aq2-tng.

[2020-05-29 13:09] m4son commented on #89
Wow, impressive work.
I was testing on your server ( because of the ping ) and I noticed these patches doesn't apply on 3rd person camera, even previous patch for animation ( e.g. spamming jump ), maybe also in-eyes spectating should smooth stair movement or just receive info in 10hz

[2020-05-29 18:24] Raptor007 commented on #89
Thanks for letting me know!  I disabled smoothing for spectators because it was causing the orange tint on 3rd person chase cam, but I'll see if I can re-enable it and fix that.
https://github.com/Raptor007/aq2-tng/commit/ea1c732176cbe70ff04236af465bc37160501974
I don't think there's a way to receive info at 10fps (aside from `sv_fps 10`).

[2020-05-31 02:06] Raptor007 commented on #89
I looked at this code again and all clients run `ClientEndServerFrame` before any clients run `UpdateChaseCam`, so the smoothed Z position should be applied to spectating.

Generally 3rd person spectator works fine.  The problem with crouch/jump spam is probably caused by the immediate change in `viewheight`, similar to why the lasersight was reacting to crouch/stand too quickly:
https://github.co

[2020-06-17 07:30] Raptor007 commented on #89
I think the most I can add to this now is smooth the application of viewheight to 3rd person spectators, and also use that value for lasersight and flashlight instead of the current hack.

[2020-06-23 09:35] Raptor007 commented on #89
Sometimes players walking down slightly sloped ground will jiggle.  This is especially harsh to watch when 3rd person spectating them.  (I'm not sure if this is related to sv_fps.)

Edit: I have separated this into issue #90, although the chasecam height adjustment for jumping may also benefit from some smoothing with sv_fps similar to viewheight:
https://github.com/Raptor007/aq2-tng/blob/3835e46b

[2020-06-27 07:31] Raptor007 opened #90 "Walking down slight inclines animates badly."
This issue is caused by Quake 2 client `Pmove`, but shows up mostly in Action Quake maps with sloped ground, like teamjungle and cliff.

The problem is that the client sends `pm.groundentity NULL` intermittently as you walk forward down a slight incline, where ideally it would always be the entity you're walking on (world or other):
https://github.com/Raptor007/aq2-tng/blob/3835e46b4016a0e7c582c9b

[2020-06-27 09:02] Raptor007 commented on #90
This should probably be a cvar since the "buggy" slope behavior has been around since 1.52 (and baseq2).

[2020-07-07 03:21] Raptor007 commented on #90
Looking at the Quake 2 `Pmove` function used for client-side movement, I was able to confirm my guess about why this is happening.  Here is the order of relevant events:

1. [Add gravity to velocity](https://github.com/id-Software/Quake-2/blob/master/qcommon/pmove.c#L652-L659) [**unless touching the ground**.](https://github.com/id-Software/Quake-2/blob/master/qcommon/pmove.c#L635-L637)
2. [Add co

[2020-07-12 20:28] deluv opened #91 "anticheat for championship"
Hi there man, I'm sorry for using the issues area for a doubt.
But is there any way to catch cheaters nowadays? I'm organizing a national championship (Brasil) and we currently have about 80 players inscribed... but some of them are really suspicious (and were cheat users back in the old school days). So, if there is anything to ban these people out, I would be glad to know. We are using stan0x se

[2020-07-13 22:07] Raptor007 commented on #91
Sorry to hear that people want to cheat.  That's annoying.

Q2Pro server has an anti-cheat feature, but I don't know if it's any good:
https://github.com/skullernet/q2pro/blob/master/doc/examples/buildconfig#L63-L64

I could try adding an aimbot check to the AQ2 mod.  It could watch for anyone aiming directly at an enemy for several frames in a row with angle changes (if either player is moving) a

[2020-07-14 20:47] m4son commented on #91
It is really sad people in 2020 still want to gain advantage over others just to kill them..

Q2Pro has an option to build anticheat ( that is R1CHs anticheat, he also made client r1q2/r1gl  ) as Raptor linked, you probably need to recompile server binaries.
 If its good, well, it does basic stuff for sure, and its better than nothing. A nice addition are anticheat hashes, you can add MD5 hashes o

[2020-07-14 22:22] deluv commented on #91
"When is the tournament?"
We're still defining a date. There's still some issues to take care of and sadly cheating is one.

Any defense against any cheat is worth a try, aimbots and wallhacks are our most regular problems nowadays. Our players mostly use the q2online client (https://q2online.net/action).

"It is really sad people in 2020 still want to gain advantage over others just to kill them.

[2020-07-24 02:18] flavio113 opened #92 "Announcer, doubt."
Hi Raptor007, how are you ?, thank you and congratulations for keeping the aq2 community alive today.

I speak of Brazil, we are configuring a server with some aq2 modality, and I would like to know how to manage to put that announcer from other versions of TNG, voices in the game besides IMPRESSIVE.
It would be those KILLING SPREE, STOLEN, DOMINATING, UNSTOPABLE.
Do you remember?

Thank you best

[2020-07-30 08:45] Raptor007 opened #93 "Scoreboard Customization"
Instead of numeric flags, the scoreboard should be a string of characters representing each field.  This will allow server admins to completely customize the order of what they want displayed, such as putting frags first.

[2020-07-30 08:57] Raptor007 opened #94 "AutoJoin Scramble"
There should be an option to scramble teams each map with autojoin, maybe `autojoin 2` or `autoscramble 1` cvar.

[2020-08-03 06:31] Raptor007 opened #95 "Walking into someone on moving platforms sometimes kills them"
I've noticed on maps like cliff, if two players are both standing on a moving platform, it might squish one of them if they get too close to each other.

This could be related to the scoot fix in issue #44.

[2020-08-17 02:18] Raptor007 commented on #89
I did some digging into "jump animation lifts" and found it's from baseq2, which had a fixed over-the-shoulder chase cam.  It made sense there because the camera was very close to the player model, and the jump animation raises the model, so it would be hard to see beyond them without lifting.

This doesn't really make sense anymore with AQ2's farther away free-rotate chase cam, and it's the reaso

[2020-08-17 02:22] Raptor007 commented on #90
I've added the `slopefix` cvar, enabled (1) by default.  It's not latched, so feel free to toggle this on and off on your server to see the difference.  I think this is a massive improvement for walk animations on maps like cliff and teamjungle with sloped terrain.

[2020-08-29 13:28] m4son commented on #94
Scramble will never work perfectly, unless if you implement simple sqlite to TNG and log players progression with some sort of an ELO rating, then eventeams&scramble will make sense.

[2020-08-29 13:38] m4son commented on #92
There are 3 ways of doing this....
- Look into [ratoaq2](https://github.com/ratoaq2/aq2-tng) fork, it has additional announcer sounds added and some other cool features
- Disable current TNG announcer and make a similar and better version of it with [q2admin](https://github.com/m4son/q2admin) lua script...
- Pay Raptor007  a six pack, and he might make announcer sound customizable via .ini file :)

[2020-09-01 01:33] Raptor007 commented on #94
Quake2 mods really shouldn't have external dependencies like SQL.  If we needed persistent stat tracking across server restarts, those values could be stored in a simple text or binary file.  (The fact that TNG needs to link against winsock2 for IRC code already kind of bugs me.)

But this ticket isn't about making sure every match is perfectly balanced.  Someone asked me for a simple scramble opt

[2020-09-07 22:57] lowkeyau opened #96 "Request: Stats condump/generated at end of map"
Hey,

I'm topdeck, a player in the Australian AQ2 community. We've been running a few tournaments over the past 6 months and have been trying to find solutions to obtain stats on individual players in the hope of creating a ranking system. Is it possible to get an XML condump of stats at the end of each map / or to generate some sort of HTML report similar to speed/fragstats (http://quake2.doomdns

[2020-12-11 00:52] Raptor007 commented on #96
Sorry for the delay!  I've been surprisingly busy with other things.

Dumping stats in some form would certainly be possible.  Something like CSV or XML would be pretty easy.  The only catch might be that Quake2 has nothing like SteamID to uniquely identify players, so you'll have to rely on their names in your analysis.

If you have an example of the kind of log Fragstats knows how to parse, I co

[2020-12-18 09:56] stan0x commented on #96
Its posible to parse out .mvd2 demo files. Al info u need for player stats is collected there.

Other possibilities is  to build a lua plugin for q2admin to collect the stats and put it in a dump file.

[2020-12-25 22:39] andrijan commented on #73
Hey again! just got the itch again. Below is the output from `make` - I get a gamex86.dll file, but when loading it (via  `game action`) it just loads the default baseq2 dll file it seems. All the assets are from action, but the weapons and such are from baseq2, which is the default behavior with a broken .dll file if I remember correctly. Any idea what's wrong?

[code]

[2020-12-26 08:12] Raptor007 commented on #73
The `warning: 'callee_pop_aggregate_return' attribute only available for 32-bit` is telling me that it's trying to build as a 64-bit DLL rather than the 32-bit Quake2 needs.  It should be adding `-m32` to the gcc command line, but for some reason it isn't.

Try this:

`make X86=y ARCH=x86`

If that works, I'll just need to improve the detection of MinGW64/MSYS2 in the Makefile.

Also, what does it

[2020-12-27 00:36] andrijan commented on #73
Thanks, I guess I just botched up my MinGW install :) It works now (By installing again the correct way)

[2020-12-27 00:36] #73 closed, assigned to nobody

[2020-12-27 01:04] Raptor007 commented on #73
Glad you got it working!

I should probably still add detection of the MinGW64 environment and add `-m32` in that case.

[2020-12-29 23:54] flavio113 commented on #92
Thx.

[2020-12-30 01:04] m4son commented on #96
Just use a format like this
https://github.com/janstuemmel/csgo-log/blob/master/example/example.log
Basicaly the same as this in CSGO. When a player joins hes  logged with his ID, name, ipaddress

[2020-12-30 03:05] Raptor007 commented on #96
Unfortunately there is no "ID" in Quake2 because it's not tied to Steam, so it'd just be name and IP address, neither of which is a reliable identifier of unique players.  A player could easily defeat rank-by-name by rejoining with a different name, but identifying by IP address would be better than nothing.

That CSGO example seems to log _every_ event of the game as they happen.  It'd be a lot o

[2020-12-30 15:52] m4son commented on #96
I know there is no unique ID, I meant ID player gets when joining a server for that session.

Why not adopting a logfile to existing nice-looking stats analyzers for modern games rather than fragstats which is old and useless? Tracks only frags +deaths. That's shit, I'm sorry.

I made a script for parsing MVD years ago. it ain't in detail but for a start it's good. Gives more than fragstats.
Per w

[2021-01-04 16:47] KaniZ0r commented on #96
I'm working on with lua plugin for q2admin which gives players UUID. It currently requires users to register via discord bot and then add little script to config. I think it could be used for tracking individual player scores etc. since UUID is added to server side player object when user joins and login triggers so it's global variable for every other lua plugin there is.

[2021-01-07 12:17] Raptor007 opened #99 "Clean up warnings in new gcc"
There are warnings generated by newer versions of gcc: format-truncation in the master code, and unused-result in the bots code.  (See later comments on pull #97.)  The code generating these warnings should be cleaned up.

For now, adding `-Wno-format-truncation -Wno-unused-result` to CFLAGS should suppress them.

[2021-01-08 17:23] stan0x opened #100 "make WIN64=yes fails on build. (Linux MinGW cross-compile)"
seems to give some erroors in tng_irc.o:tng_irc.c.

also doenst seem to make a .dll file

src/acebot_spawn.o acesrc/bot_env_doors.o acesrc/bot_utility.o acesrc/acebot_compress.o acesrc/bot_ai.o acesrc/bot_movement.o acesrc/bot_weapon.o acesrc/acebot_items.o acesrc/botchat.o acesrc/botnav.o acesrc/acebot_movement.o acesrc/bot_collision.o acesrc/botscan.o
/usr/bin/x86_64-w64-mingw32-ld: tng_irc.o:tn

[2021-01-09 10:27] Raptor007 commented on #100
It should detect your MinGW environment and set `WIN32=y` automatically, which would add `-lws2_32` to the linker step and solve those errors.  For now, you should be able to build a 64-bit DLL with `make WIN32=y WIN64=y` as a workaround.

What does it say when you type `uname -s` in MinGW?  That should tell me what I need to know to fix the Makefile.

(Be aware most Windows q2pro.exe builds are 3

[2021-01-09 15:34] stan0x commented on #100
I added some to the Makefile. Now it works on 32bit and 64bit. #101

[2021-02-15 20:02] Raptor007 opened #103 "Kill Assists in Scoreboard"
When dealing damage to a player, also track who dealt damage before (within the same round).  When a kill is awarded, award an assist to the previous attacker.  Use assists as a tiebreaker for same number of kills in scoreboard sorting.

[2021-05-23 05:54] Raptor007 commented on #100
Sorry for the delay!  I merged these changes today, and tweaked them so they won't break the build process on Windows MinGW.

https://github.com/Raptor007/aq2-tng/commit/6f4e934bd298b2203f6fb1fb5f9663749d882c2a

[2021-05-23 05:54] #100 closed, assigned to nobody

[2021-05-23 06:48] Raptor007 commented on #80
I believe this was fixed by https://github.com/Raptor007/aq2-tng/commit/907e078717004138548dce74441589119fde1e1b last year; please re-open the issue if I'm wrong.  Thanks!

[2021-05-23 06:48] #80 closed, assigned to Raptor007

[2021-05-23 07:06] #90 closed, assigned to Raptor007

[2021-05-23 07:06] #79 closed, assigned to Raptor007

[2021-05-23 07:07] #89 closed, assigned to Raptor007

[2021-06-01 21:32] m4son opened #104 "Knives rotation animation is sometimes slow on sv_fps enabled server"
When a player is using cl_updaterate 10 on variable fps ( sv_fps 20 ) enabled server, knife throwing animation is sometimes a bit slow.

[2021-06-02 21:36] Raptor007 commented on #104
Do you mean the knife spinning as it flies, or the hand model as it throws the knife?

[2021-06-03 08:24] m4son commented on #104
Yes, when it flies.

[2021-06-08 21:10] Raptor007 commented on #104
At a quick glance through the code, I don't see a reason for this to happen.

In `knife_throw` (g_weapon.c) knives are given angular velocity 1200 along their spin axis and set to MOVETYPE_TOSS:
https://github.com/Raptor007/aq2-tng/blob/51406d4d32cf7ce7867010bb0ad8b12823dc68c7/source/g_weapon.c#L1129-L1131

Every server frame, objects with MOVETYPE_TOSS should run `SV_Physics_Toss` (g_phys.c) whic

[2021-06-08 21:25] Raptor007 commented on #104
It just occurred to me that a dropped UDP update packet at 10fps would mean the next received rotation is 240.  If that unit is in degrees (and I think it is) the client-side interpolation might briefly rotate the knife backwards rather than forwards.  This could overall make the knife appear to be spinning more slowly.  If this guess is correct, it's a problem you'd likely see with either `cl_upd

[2021-07-25 09:11] Raptor007 commented on #96
I was talking to stan0x about this, and it sounds like the end goal is something like this:
http://ts3servut.com/z0rbot/stats/

So a good starting point might be the output of the `stats` command for each player, plus time played.  I'll probably just do a plain text format if nobody has any other specific preference.

[2021-09-08 15:24] m4son opened #105 "CTF matchmode bug"
After CTF match is finished in a matchmode, if we ready up again, it doesn't switch teams after half the timelimit. But if we do resetscores it's as it should be.

[2021-09-08 15:54] m4son opened #106 "Let admins add external models to game to block/add jumps..."
Adding custom model into a map with q2pro/r1q2 overrides/ent file.

an example to load extra model to a map from .ent file
[code]

model_spawn entity from kmquake2 -> https://github.com/mczero80/KMQuake2/search?q=SP_model_spawn
misc_md2 from dday -> https://github.com/InFerYes/dday/blob/f89f2b26c26708e7f12865f820a0801fb49034bf/g_misc.c#L1655

This could give admins an option to fix some maps to bl

[2021-09-08 16:04] m4son opened #107 "CTF: item_health* entities"
I believe we are missing healthdrop when killing someone in mode like CTF, how much i dont know, but at least 50hp.
This could be configurable with .ctf file maybe?

Or an option to enable existing  disabled entities

"item_health_small"
"item_health_large"
this could give e.g. 40hp and 80 hp

This entities could be placed into maps with overrides/ent files.

[2021-09-08 21:32] Raptor007 commented on #107
Hmm, it seems contrary to the spirit of an Action mod to bring back health pickups, which have always been deliberately disabled for "realism".  This could be an optional cvar, but not the default CTF behavior.

[2021-09-08 21:36] Raptor007 commented on #105
Interesting.  Probably related to issue #80.  At a quick glance, I suspect it needs `teams_changed = false` when the match ends.

[2021-09-12 13:02] m4son opened #108 "mvdspec should get all the frags/deaths prints"
Yesterday, the caster on twitch had a problem figuring out how many players are alive on each team, since mvdspec doesn't get all the information when spectating in-eyes, while in free float he gets all the death/frags correct.
Is it possible that we could fix that for in-eyes mode for mvdspec?

[2021-09-13 08:21] Raptor007 commented on #108
I have a guess why.  When chase cam is external, it copies stats:
https://github.com/Raptor007/aq2-tng/blob/a268e2410afff708ce93acf48102325b3f7c0558/source/g_chase.c#L138
https://github.com/Raptor007/aq2-tng/blob/a268e2410afff708ce93acf48102325b3f7c0558/source/g_chase.c#L204
But if chase cam is in-eyes, it only copies stats if the server doesn't support clientNum, which is unlikely:
https://github

[2021-09-13 10:37] Raptor007 commented on #108
**Clarification:**  Do you mean the on-screen stats, or the console death messages?

If it's about console printing, there's probably some tweak that needs to be made in PrintDeathMessage for mvdspec, though I don't see why it would be different for in-eyes spectating:
https://github.com/Raptor007/aq2-tng/blob/a268e2410afff708ce93acf48102325b3f7c0558/source/p_client.c#L641-L649

[2021-09-13 11:17] m4son commented on #108
You got it right, its about  console death messages.

Hm, i thought its intended that sometimes when action is far away, we dont get kill prints or was i  wrong aboout this  whole time :D

[2021-09-13 11:26] m4son commented on #107
I agree, since we have some game changing settings turned on by default, like loud_guns ( should be 0 by default if u ask me ), we could have cvar for this also.

[2021-09-13 19:54] Raptor007 commented on #108
It's intended that in teamplay, only the killer, the killed, and anyone else not alive (whether spectating or dead) gets the messages.  It's to prevent people who are alive from knowing when other players die that they didn't kill.

Spectators should always get the messages, since they're not alive players.  This is being determined by `other->solid == SOLID_NOT` which maybe isn't correct for mvds

[2021-09-13 20:58] m4son commented on #108
Aha, makes sense. So,  mvdspec gets all the data as if he was alive player.  Can we "hack" this  :thinking:

[2021-09-13 21:24] Raptor007 commented on #108
It shouldn't consider them alive if they're a spectator.  I think that's the bug.  Maybe PrintDeathMessage needs to check `!IS_ALIVE(other)` instead of just SOLID_NOT, or specifically check the spectator and mvdspec flags as it loops over players.
https://github.com/Raptor007/aq2-tng/blob/a268e2410afff708ce93acf48102325b3f7c0558/source/g_local.h#L2026

[2021-09-13 21:34] Raptor007 commented on #107
That's fair.  You're probably right that loud_guns should be 0 by default.  I like being able to hear when someone is shooting at me unsilenced from the other side of actcity3, and it makes silencers actually useful by having a different sound attenuation than non-silenced.  But it is a deviation from how people are used to AQ2 behaving.  (Similarly, maybe helmet should not be in the default item

[2021-09-18 07:39] Raptor007 opened #109 "Roll angle should reset at end map scores."
There's a slight roll angle applied to the view when strafing, and if you are strafing when the map ends, that tilt remains on the end of map camera.  It should reset to straight up.  Not very important, but I also don't think it'll be hard to fix.

[2021-11-23 23:21] m4son commented on #107
The helmet has been there for a long time and it is a fun item. It tilts a shooter 100% and the victim is smiling :)
Sadly I do not find DM or TDM fun at all ( we just played a few maps ), it is very boring to play cause it's just spawn-miss_a_shot-die. With item_health_* placed smart it can be fun. The idea is to give a chance to heal up for at least one more sniper shot to kevlar. Either it's he

[2022-01-15 01:08] Raptor007 commented on #63
Per the Quetoo issue tracker, their code is now too significantly different to support a Quake2-style mod.  Action Quetoo will have to be a total rewrite forked from Quetoo, not a fork of the AQ2 code.
https://github.com/jdolan/quetoo/issues/550#issuecomment-1013217238

[2022-01-15 01:08] #63 closed, assigned to nobody

[2022-01-29 04:30] lowkeyau commented on #96
Thanks for all the comments and for following this up. I'm actually only coming back into it now after a long hiatus. I'll have a read up on any of the changes, apologies I wasn't able to provide more insight into my thoughts, however it seems m4son and zorbot is pretty damned close.

[2022-01-29 20:34] lowkeyau commented on #96
Sorry, just adding further clarification - fragstats was more just an example of something that could be a dump of information after a match. I have nil understanding of exactly what format that information could be generated in. Regarding the actual information, at the very minimum I was thinking an exact replication of the stats/score board in-game. I.e kills, deaths, damage and accuracy. Anythi

[2022-02-08 06:41] lowkeyau opened #110 "Tourney mode: Countdown at the beginning of rounds"
Hey,

Currently there's no countdown (that we can enable) prior to a round starting in tourney mode. It's a silent no shoot/no fall dmg for 5(?) seconds.

Is there any way to implement this into tourney ala normal team mode?

Thanks,

[2022-02-08 07:52] Raptor007 commented on #110
Oh, it's just silent?  Not even "Lights Camera Action"?

Would you like it to have the full "10, 9, 8..." countdown?

I have to admit I don't really use tournament mode, but I can still fix it if it's not behaving as expected or desired.

[2022-02-08 10:12] lowkeyau commented on #110
Thanks, really appreciated.

There's no count down or 'lights camera action'.

I think 'lights camera action' would be great if possible.

We're trying tourney to see if it plays well as the communities quite small at the moment.

[2022-03-10 15:02] darkshade9 opened #111 "Add Espionage mode from ETE library"
Hello,

I was talking with Paril over Discord about the potential of bringing over the last 'major' game mode of AQ2 over to TNG, that being Espionage mode.  For those unfamiliar, it's a scene/mission-based mode where you have to perform objectives to gain round points, and the various types of scenes lend to different styles of play.  For example, the Domination mode that was recently added is ve

[2022-03-15 00:21] Raptor007 commented on #111
Hi!  I'm not familiar with Espionage mode but it sounds like a cool project, and a good fit for TNG if we can make it happen.

Disassembling or decompiling can be really messy, especially if the binary did not include debug symbols, which was often the case in the 90's to make downloads as small as possible.  It may be easier to just play the mode, get a feel for it, and try to clone it that way.

[2022-03-15 15:07] darkshade9 commented on #111
The most recent library is version 4.7 (running on that server, hosted by me), and it does include symbols (but not debug symbols).  Running it through Ghidra provides all of the Espionage-specific function names and some idea on how the logic works, but like you said, it's messy.  I have all of the files needed to host and play, and the docs do a pretty good job of explaining it.  I have forked t

[2022-03-23 18:22] darkshade9 commented on #85
We're starting a project now to handle this:

https://github.com/actionquake/distrib

[2022-03-23 18:29] darkshade9 commented on #92
Hey @flavio113 I'd like to know more about the Brazilian AQ2 scene, if it's still active.  Open up an Github Issue at https://github.com/actionquake/distrib or join our AQ2World Discord -- https://discord.gg/aq2world if you would like to chat about it.

[2022-03-29 18:48] m4son opened #112 "teamname cmd adds additional space at the end"
When captain in matchmode changes team name with command teamname, additional space is added to end of the new team name.

[2022-04-06 06:10] Raptor007 commented on #85
Yours is probably a better way to do it for new players and I encourage you to keep at it.

Even so, I'd also like to create an action folder zip that can be dropped into any existing Quake 2 install, such as the Steam, GOG, and RTX versions of Quake II.  Maybe I'm just old fashioned.  But first I'll clear a few more bugs off the list and maybe bump the version to 2.82.

[2022-04-06 16:07] darkshade9 commented on #85
I can create a 'drag and drop' add-on release tarball/zip for existing installations with instructions on how to launch it (+set game action), it makes sense for RTX and people who love other clients like Yamagi and don't want to install a client just for AQ2.

[2022-04-09 23:44] Raptor007 commented on #111
I still want to help do this sometime, but we have a new baby so scheduling is very tricky right now.  When I have some time, my first step will probably be to just do a LAN game myself to see how it works.  Maybe you could also list out your favorite ETE features to make sure we hit all the important ones.

Not sure if you need this, but apparently I had ETE v4.6b installed at some point long ago

[2022-04-10 13:02] darkshade9 commented on #111
Congrats on the new baby!  You'll be plenty busy with all that comes with along with all that goes into baby stuff.

Regarding Espionage, some scenes only need 2 people to test (CNH, CTB, OFC) while others are minimum 4 (ETV, ATL, FRD) due to the nature of the scenarios.  We can pretty easily test with duplicate clients.

I'll work on a list of all the features and add it to this issue.

[2022-04-11 00:25] Raptor007 commented on #111
Thanks!  By the way, if you could just fix the linefeeds in a_match.c, a_xmenu.c, and tng_stats.c (change CRLF back to LF) then I can approve your pull request #113 and clean up the special character stuff.

[2022-04-12 01:29] Raptor007 commented on #112
Fixed and merged upstream to aq2-tng:master.

[2022-04-12 01:29] #112 closed, assigned to Raptor007

[2022-04-12 02:56] darkshade9 commented on #111
I think the notes here are sufficient, if you have any questions or want to test some things out, let me know (scroll down to the README under the file listings).  I've included links to the original AQDT (archived site) and the Wiki:

https://github.com/darkshade9/aq2-tng/tree/paril-notes/action/scenes
https://wiki.aq2world.com/wiki/Game_Modes:Espionage

[2022-04-14 14:00] darkshade9 commented on #96
There has been a little bit of discussion around this at https://github.com/actionquake/distrib/issues/17

Regarding a unique ID, we could tie it to a cvar that is set in the player's config files or Player Setup menu, the value being the user's Discord ID.  If one isn't setup, a hash of the player's name and IP address could be used, it would be less accurate, but the player who has setup their D

[2022-04-17 06:50] Raptor007 commented on #107
Today I had a great idea for a way to implement this feature that still feels like Action Quake.  Instead of instantly healing on pickup, you use bandaging to apply health items gradually.  It will start healing as soon as you bandage if you are not bleeding and have no leg damage, otherwise it will wait until those conditions are healed and then apply health.

Enable with `ctf_medkit 50` for dead

[2022-04-17 06:57] Raptor007 commented on #107
Oh and I hard-coded the maximum you could carry to 50 health without bandolier or 99 with.  I can make those into cvars if you'd like, or just let me know if you want different values.

[2022-04-17 07:17] Raptor007 commented on #107
Nevermind, I changed the maximum to match whatever value ctf_medkit has, unless you have a bandolier -- that's still max 99.

[2022-04-17 10:21] m4son commented on #107
That is just brilliant,  i like your idea and it works great. Now enable this for dm & teamdm, name it something else than ctf_ and we are good :smiley:

edit: in 5on5 match, weapons,items,medkit is gone after roughly 5s

[2022-04-18 07:43] Raptor007 commented on #107
Sure, I can make this work for any mode.  I'll change the variable to `medkit_drop` and get rid of the CTF check.

CTF makes all dropped items disappear after 7 seconds (6 touchable seconds) because players respawn with full kits:
https://github.com/Raptor007/aq2-tng/blob/b13178df5592eeeb269d1cadc60c6eae998dc3a1/source/g_items.c#L908-L912

If that's too short, I can make an exception for the medki

[2022-04-18 17:33] m4son commented on #107
`medkit_time` sounds cool and it should default to at least double the time right now. so around 15s :+1:

[2022-04-18 21:49] Raptor007 commented on #107
I went with `medkit_time 30` default, but you can reduce it if you find too many medkits cluttering the map.

[2022-04-19 15:34] darkshade9 commented on #85
We have a regular cadence of releases now
https://github.com/actionquake/distrib/releases

This includes Mac M1, Mac Intel, 64-bit x86 Linux and Windows, 64-bit ARM Linux and 32-bit Windows.  It also includes a content-only zip that can be used for existing installations as a drag-n-drop install, and server-only files for 64-bit x86 and ARM Linux with q2admin.  All are built from source on the `aq

[2022-04-29 19:21] darkshade9 opened #114 "sv savenodes not creating ltk file (when "action" is not set)"
Turning botdebug on and creating nodes, I issue the `sv savenodes` command and it claims to save the node table, but the ltk file never appears to get written to `terrain`.  Is it possible I'm missing a step?  Using the latest commit from the `bots` branch.

[2022-04-29 19:44] Raptor007 commented on #114
It sounds like you're doing it correctly.  You also need to create links between nodes, but this shouldn't effect whether or not it writes the file.

If it's on a Linux system, make sure the user running q2proded has write and execute permission on the terrain directory, and has the current working directory the same place as its executable.

[2022-04-29 20:03] Raptor007 commented on #114
Let me know if [0e063ac](https://github.com/Raptor007/aq2-tng/commit/0e063ac73328f4c4e275970a23efe46d51e47d17) solves the problem.  I would prefer to set a default value rather than always ignore the variable.

This should also fix map locations and IP banlists on servers without `+set game action`.

[2022-04-29 20:12] Raptor007 commented on #114
If for some reason this does not fix it (maybe Q2 overrides that default) another idea would be:

[code]

... and then replace `game_dir->string` with `game_str` in the rest of the function.

[2022-04-29 20:39] darkshade9 commented on #114
I think https://github.com/Raptor007/aq2-tng/commit/0e063ac73328f4c4e275970a23efe46d51e47d17 will work just fine.  I also added one other instance where the game_dir is blank unless set

https://github.com/Raptor007/aq2-tng/pull/116

[2022-04-29 21:06] Raptor007 commented on #114
Thanks, good catch!

For later cleanup:  It looks like "game" is used in enough places that it should probably be treated like most other cvars: declared once in g_main.c, gi.cvar called once in g_save.c, and extern in g_local.h to provide all other access to it.

[2022-04-29 21:22] darkshade9 opened #117 "Server variable FPS and hurt brush damage differences"
I left an issue on q2pro's Github but I thought I'd also bring it up here since TNG is one of the exclusive users of sv_fps.  There's a significant difference in hurt brush rate of damage and sv_fps, as show in this video:

https://youtu.be/9DgUibXAysk

I don't have a 'control' test at the moment to test on a server that does not have variable FPS enabled, but I'm certain that this is doing a lot

[2022-04-29 21:40] Raptor007 commented on #117
This looks like something to be solved in TNG, and may be related to some of the code mentioned in issue #27.

[2022-04-29 21:59] Raptor007 commented on #117
I think I see it.  My guess is the hurt brush flag `spawnflags & 16` is meant to specify whether damage is dealt once per second or 10 times per second, but instead of 10 per second it may be happening on every frame:
https://github.com/Raptor007/aq2-tng/blob/35db97fcd9dd9ff349697907639345b0553790bd/source/g_trigger.c#L475-L478

Most likely this would be the fix:
[code]

But I'd like to test a few

[2022-04-30 01:47] Raptor007 commented on #117
Yes, this fix seems to work.  Didn't break any edge cases that I could find.

It looks like that's been set to FRAMETIME since waaay back before sv_fps was added, when they were expecting it to be a hard-coded constant 0.1:
https://github.com/Raptor007/aq2-tng/blame/40c9508c6768149c7d9c11974bc65a221cdb77dd/source/g_trigger.c#L462-L465

[2022-04-30 02:08] darkshade9 commented on #117
Good catch there, it felt like a framing issue sped up by the sv_fps addition.  The cacti in tequila didn't seem to do much more damage but the spiked door in police did an absolute massive amount.

[2022-04-30 04:09] darkshade9 commented on #111
I added some initial cvars for Espionage at https://github.com/darkshade9/aq2-tng/commit/9c77692ba13222240cb2886c8dc2f41e8979443a but it made me think that Espionage could be approached a few different ways -- could we tie into the Q2Pro entity overrides system and create scenarios from there?  Not sure how to handle multiple scenarios on the same map, but that could reduce the amount of work invo

[2022-04-30 06:18] Raptor007 commented on #117
I think the cacti in tequila use `spawnflags & 16` to deal damage once per second, so they shouldn't have been effected by this sv_fps issue.  Actually I think most map hurt brushes do, which is probably why this problem was not noticed sooner.

[2022-05-01 06:15] Raptor007 commented on #109
This might be caused by `SV_CalcRoll` or `SV_CalcViewOffset` in p_view.c if `ent->velocity` does not get cleared at map end.

[2022-05-02 06:39] Raptor007 commented on #95
Looking into this.  It can occur with any sv_fps including 10, and can also still happen if I comment-out the platform scoot fix so that likely wasn't actually related.

This consistently crushes the player entity earlier in the array (usually whomever connected first) when they are following too close behind another player on a moving platform.  Nobody gets crushed if the later-connected player i

[2022-05-02 07:39] Raptor007 commented on #95
I think I'm starting to understand.  If the earlier player entity can't be pushed because of an obstruction ahead (the other player entity that hasn't been pushed yet) SV_Push will see if it could put the player back in their previous position:
https://github.com/Raptor007/aq2-tng/blob/216dd81472b9cbfcd75b5377705737930c3944fe/source/g_phys.c#L537-L547

However, if the platform moved upward, the pl

[2022-05-02 08:05] Raptor007 commented on #95
I think this is fixed!  There is still a problem that later-joined players can push earlier-joined players backwards on platforms, even crushing them against the back wall.  But at least they no longer kill them just by touching.

[2022-05-02 08:40] Raptor007 commented on #95
I think the reason some players can still shove others backwards is because of the way pushers operate on one object at a time, without allowing their pushed objects to push another object.  If an earlier entity would be pushed into a later one that hasn't had its push applied yet, the first entity's position is reset for that frame.  Thus they naturally gain a gap of one frame's worth of movement

[2022-05-02 23:47] Raptor007 commented on #105
I tried to recreate this problem with `ctf 1` `matchmode 1` but was unable to.  Whether the map was changed by `votemap`, `gamemap`, or `map`, the teams still swap correctly at every halftime.  I also tried with both `auto_join 0` and `auto_join 1`.  The only quirk is that with `auto_join 1`, the teams you are swapped to at halftime become your starting teams for the next map.  But they do correct

[2022-05-03 11:23] m4son commented on #105
We did not change the map, just ready up again. Going to try again.

[2022-05-03 20:38] Raptor007 commented on #105
Ah thanks, now I understand.  I'll try again.

[2022-05-04 01:44] Raptor007 commented on #109
Might work to just `VectorClear(ent->velocity);` in p_hud.c `MoveClientToIntermission`.

Edit: Nope, didn't work.

[2022-05-04 01:56] Raptor007 commented on #109
Aha, this is where those values get set:
https://github.com/Raptor007/aq2-tng/blob/7fcea7db86db9087bd9217f50db31ca9bdbb7792/source/p_view.c#L297
https://github.com/Raptor007/aq2-tng/blob/7fcea7db86db9087bd9217f50db31ca9bdbb7792/source/p_view.c#L330-L335

So the solution is `VectorClear(ent->client->ps.kick_angles);` in `MoveClientToIntermission`.

[2022-05-04 14:17] m4son commented on #105
Ops, I forgot to test but it seems like you found the problem too!

[2022-05-05 06:47] Raptor007 commented on #110
Hey @lowkeyau I'm closing this issue assuming @darkshade9's fix works for you, which has now been merged upstream.  If not, please feel free to reopen it.

[2022-05-05 06:47] #110 closed, assigned to nobody

[2022-05-05 06:47] #95 closed, assigned to Raptor007

[2022-05-05 06:47] #105 closed, assigned to Raptor007

[2022-05-05 06:47] #107 closed, assigned to Raptor007

[2022-05-05 06:47] #109 closed, assigned to Raptor007

[2022-05-05 06:47] #114 closed, assigned to Raptor007

[2022-05-05 06:47] #117 closed, assigned to Raptor007

[2022-05-08 02:56] darkshade9 opened #120 "Use Steamshim to enable Stat Tracking/Leaderboards/Achievements"
With the impending Steam release, I found this as an interesting way for us to maintain our adherence to the GPL while taking advantage of some of the Steam SDK.  Looking to see what your thoughts are @Raptor007 ?  As far as linking it and adding it to the Steam release, that's probably the easy part.

https://github.com/icculus/steamshim

[2022-05-08 23:06] m4son opened #121 "Q: warmup for everyone"
Would it make sense if warmup is enabled ( matchmode ) everyone on server could play, even spectators at least those who pick weapon & item?

[2022-05-08 23:12] darkshade9 commented on #121
In a similar vein, is there a configurable warmup delay for standard teamplay (not matchmode), I think it's 20 seconds?  Could we make this configurable with an upper limit (say 60 seconds?)

Also somewhat related:
https://github.com/Raptor007/aq2-tng/issues/32

[2022-05-13 00:10] Raptor007 commented on #120
The shim sounds like a good way to do this.  I knew Steam had achievements of course, but wasn't aware it had other stat tracking.  How impending is the Steam release?

Any changes for this feature should be enclosed within `ifdef` to avoid polluting non-Steam builds.  (I wish the same had been done for IRC, but that was before my time.)

Build:
`make STEAM=y`

Makefile:
[code]

Code:
[code]

[2022-05-13 00:20] Raptor007 commented on #121
Also related: #60

[2022-05-13 01:18] darkshade9 commented on #120
The Steam release is imminent, we've been fully approved.  It's only a matter of a few button clicks and a few weeks of staging before we could be live.  We're putting some polish on the client right now, like getting the menu exactly how we want it, default config settings, last minute bug fixes, all that.

On the side, we're also preparing dedicated servers and their configs just in case it gets

[2022-05-13 01:20] darkshade9 commented on #111
Just took a look around at the contents of the `tng` directory.  Currently it contains
`aqg` files for Message locations
`flg` files for Flag locations for CTF mode
`dom` files for Domination mode locations

It could be used in the Espionage capacity as well, these become activated when `use_espionage` is set to `1`
`ctb` files for Capture the Briefcase
`ofc` files for One Flag Capture
`cnh` files

[2022-05-13 23:06] m4son opened #123 "add follow cmd"
By adding `follow` command, spectators can choose who to chase.
`follow <id>`
ID's can spectators get by typing the command `skins`

[2022-05-15 00:02] Raptor007 commented on #123
I like it!  It could also search by name like `follow Raptor`.  :¬)

[2022-05-15 00:23] darkshade9 commented on #123
As part of this perhaps we could have a cvar that automatically switches from player to player after some time, sort of like an automatic camera view?  If the player dies while you're watching, automatically go to the next, and so forth?  Do the `uf` commands via MVD fit this model?

[2022-05-15 00:56] Raptor007 commented on #123
If a player dies while you're watching, it already goes to the next one.  As a spectator, my first indication that a match has ended with no survivors is the chase cam switching to free cam rather than following another player.

Automatically changing follow targets on a timer doesn't sound like something you'd want to set for the whole server, but could be implement in g_cmds for each client to d

[2022-05-16 01:11] m4son commented on #123
`[MVD] Usage: autofollow <add|rm|set|list|on|off> [...]`

That's the command in q2pro MVD server.
I can follow some random guy and type `autofollow add`  to add him to a follow list. If I have a few players on the list, the first guy has the priority over 2nd guy... With jump bind, i can switch between the ones I've selected.

Since all this is nice and working nicely, I think it could take some c

[2022-05-25 00:14] Raptor007 commented on #108
This might be a little more complicated than I thought.  It's probably related to `ent->client->clientNum` which is the only significant difference I can think of between in-eyes or chase cam.

What is your server's value for `sv_mvd_spawn_dummy`?  I suspect there's a connection to these Q2Pro issues:
https://github.com/skullernet/q2pro/issues/3
https://github.com/skullernet/q2pro/issues/36

[2022-05-25 00:24] Raptor007 commented on #68
Perhaps it would help to populate empty `CS_PLAYERSKINS` with the team skins?  This might make players download the team skins even when nobody has joined those teams yet.

[2022-05-25 00:29] m4son commented on #108
I have checked the cvar and it's set to 1
I can check again this issue tomorrow when there are pickups played, just to make 100% sure

[2022-05-25 01:04] m4son commented on #123
NICE!

One small problem tho ;) in theory, if limchasecam is on, teammates can only specatate own team. With current version of follow, they can spectate enemies too.

[2022-05-25 04:20] Raptor007 commented on #123
Thank you!  I will fix that before pushing upstream to aq2-tng.

[2022-05-25 19:02] m4son commented on #108
Well, I figured it out that this is a q2pro issue and not TNGs.

[2022-05-25 22:01] Raptor007 commented on #108
Okay, if you're sure.  It might be possible for TNG to work around the issue by temporarily resetting `clientNum` values in the `PrintDeathMessage` loop.

[2022-05-25 22:30] m4son commented on #108
We can still try :-)

[2022-05-26 00:07] Raptor007 commented on #108
Yeah I'll give it a try.  If this method works, perhaps it would make sense to intercept all `gi.cprintf` and adjust `clientNum`, similar to how the bots branch does it:
https://github.com/Raptor007/aq2-tng/blob/deaf34cc3d69ec13567b5607041a0968abcd089a/source/acesrc/acebot_cmds.c#L200-L216

[2022-06-03 20:48] Raptor007 commented on #120
For achievements to work with online play, I think SteamShim needs to be added to AQtion's Q2Pro, not the TNG server module.

It should parse console prints for information.  For example, to track headshots look for lines that start with `You hit ` and end with ` in the head\n`.
https://github.com/Raptor007/aq2-tng/blob/ef8feeb86c060c85090f24404b18dfe3d7ca2e8f/source/g_combat.c#L558

[2022-06-03 22:13] Raptor007 commented on #120
I did some digging into the Q2Pro source and posted more details on the relevant Aqtion issue:
https://github.com/actionquake/distrib/issues/47

Closing this issue in TNG, as I'm now fairly certain SteamShim must run with the game client, not the server.  Feel free to re-open if I'm wrong about that.

[2022-06-03 22:13] #120 closed, assigned to nobody

[2022-06-19 22:48] m4son opened #124 "out of sync footsteps with sv_fps > 10"
Some players are reporting out-of-sync footsteps when playing on sv_fps enabled server.
Could this be solved like it was solved for guns with sync_guns ?
issue https://github.com/Raptor007/aq2-tng/issues/56

[2022-06-21 04:12] Raptor007 commented on #124
Relevant code is here:
https://github.com/Raptor007/aq2-tng/blob/ef8feeb86c060c85090f24404b18dfe3d7ca2e8f/source/p_view.c#L984-L1000

It determines when to play a footstep sound by `current_client->bobtime + bobmove` reaching the next integer value, which could happen on any frame; it's why the simple `if (!FRAMESYNC)` check doesn't work and was commented-out.  However, if it were to add `bobmove

[2022-06-27 14:33] MVarland opened #125 "teamplay: team none idle players"
Hi,
Please implement forcing "team none" if a player hasn't moved for an entire round.

One idea could be a server setting to team none them instead of playing the insane sounds or a separate command & counter for the idle team-none feature.

Right now as a fellow player can only vote to kick the idling players, which might be a bit harsh if tempbanning is activated

[2022-06-27 14:38] MVarland opened #126 "matchmode spectators cannot spectate in-eyes during Warmup"
As a spectator I cannot spectate in-eyes during Warmup in matchmode.

#123 The follow cmd would also be nice to have working during Warmup. Even if the player dies you would still want to be able to follow them. Not sure how one should opt out of following.. +attack or +moveup maybe?

[2022-06-27 14:47] MVarland opened #127 "idea: implement lrcon claim and lrcon release for matchmode"
Implement lrcon claim and lrcon release feature. Sometimes Q2Admin breaks and the lua script stops working. Having it implemented in tng would be better :)

I think the latest lua lrcon script is at https://github.com/m4son/q2admin/blob/master/plugins/lrcon.lua

[2022-07-31 00:11] Raptor007 commented on #125
Excellent idea!  I usually `sv slap` idle players to death on my server, but that only works if I'm there playing.  Removing them from their team automatically would be a better solution.

[2022-07-31 00:14] Raptor007 commented on #126
That's funny, this is a duplicate of the oldest unsolved issue #15, which means I should probably get around to solving it!

[2022-07-31 00:16] Raptor007 commented on #15
I'm going to close this issue (since it contains a lot of unrelated chatter) and keep issue #126 open for spectating warmup.

[2022-07-31 00:16] #15 closed, assigned to nobody

[2022-07-31 00:20] Raptor007 commented on #126
Actually I'll leave this issue open and close the other, since that was kind of a mess of several issues with all the other ones solved.

[2022-07-31 00:54] Raptor007 commented on #127
Hmm, Q2Admin isn't really in my wheelhouse.  I just use the regular `rcon` to administer my server.

Looking at the lrcon script, it seems claim and release use a local script variable to track the claimer.  I don't think TNG could just replace those commands because the script isn't looking for claimer in a cvar, except sometimes "lua_q2a_lrcon_storage" but that only seems to be checked when load

[2022-07-31 01:07] darkshade9 commented on #85
I think since AQtion is released, we can probably close this out?

[2022-07-31 01:18] darkshade9 commented on #127
I think making it work within TNG makes sense, and we can define which cvars we want lrcon to apply to in the config?

[2022-07-31 05:05] Raptor007 commented on #85
Hah yeah it does seem less relevant now.  New players are almost surely using AQtion rather than unzipping AQ2 into a fresh Quake 2 install.

[2022-07-31 05:05] #85 closed, assigned to nobody

[2022-08-02 10:07] MVarland opened #130 "idea: allow clients to benefit from jmod during warmup"
As a client I would like to be able to use jump mode while waiting for others.

Also it would be nice if the client was unable to hit for others during warmup. So "one could go through the jumps" without interruption from getting shot.

Perhaps the client command "jump 1" could enable jmod for the client during warmup?

[2022-08-02 15:18] m4son commented on #130
some people like to shoot, some don't, this could be client-side command like radio or gender to turn  players solid state on or off, just thinking out loud :D
how it is done in jmod, https://github.com/darkshade9/aq2-jmod/search?q=shootable

[2022-08-03 10:13] Raptor007 opened #131 "Get rid of "Shield are DOWN!" message?"
I was playing with Frauf who mentioned that when using `dm_shield` the message "Shields are DOWN!" is rather annoying.  Would anyone miss this if I just remove it?  (It would still have the countdown.)

[2022-08-03 15:28] darkshade9 commented on #131
I think replacing it with a sound effect would be better?  Would it make sense to move the shield message to another PRINT type so it isn't directly in our view as well?

[2022-08-04 09:59] Raptor007 opened #132 "Customizable scoreboard field order."
The silly bitmasks I made for scores2teamplay and scores2ctf should be strings instead which specify both the fields and their order, such as "TNKD" if you want the order to be Team Name Kills Deaths (for example).

[2022-08-21 20:27] Raptor007 commented on #132
This is now a single cvar `scoreboard`.  If blank (default) it will use the old field order from way back before I started messing with anything, where Frags are the first item.  It seems most people prefer it that way.

These are the available fields:

F = Frags
N = Name
M = Time (Minutes)
P = Ping
K = Kills
D = Deaths
I = Damage Inflicted
A = Accuracy
C = Captures (CTF)
S = Score
T = Team

So yo

[2022-09-05 04:39] darkshade9 commented on #125
My master branch appears to be out of whack and no longer in sync with yours, I will see if I can get them back on track so I can perform PRs again.  In the meantime, I did write this up in an attempt to solve this
https://github.com/actionquake/aq2-tng/pull/48/files

[2022-09-05 04:52] darkshade9 opened #133 "AQtion changes to be aware of"
Hey @Raptor007 -- as I stated in another issue, my master branch is borked and I'm working to get it back to parity with yours, so I can perform proper PRs again.  I've created a few changes you may be interested in, and feedback if you have any.

**Adjusted serverinfo**
https://github.com/actionquake/aq2-tng/pull/40
With the amount of items we were putting into serverinfo, we were easily hitting

[2022-09-09 20:28] Raptor007 commented on #133
When you say "borked" you mean merge conflicts?  They are a pain, but better to deal with as early as possible.  The longer you put it off, the more there will be to fix.  I think I spent a weekend cleaning up [pull #14](https://github.com/aq2-tng/aq2-tng/pull/14) after @Maniac- and I had both been working all over the code.  Let me know if you need help with this.

I didn't realize we were bumpin

[2022-09-09 20:35] darkshade9 commented on #133
No merge conflicts, just items mistakenly added to the master branch that should not have been, like AQtion-specific stuff, Github build workflows, etc.  I'm trying to see if I can just get a clean copy of your current master branch into my fork in a separate branch, and PR from there.

[2022-09-09 22:04] Raptor007 commented on #133
Ah yeah I have accidentally done that too.

First I'd copy your latest source files to another directory outside version control.  Then you should be able to [revert the master branch to an earlier commit](https://www.w3docs.com/snippets/git/how-to-revert-a-git-repository-to-a-previous-commit.html) and go from there.  You could then copy back your latest sources and use `git diff` to see all the c

[2022-09-19 20:01] darkshade9 commented on #133
I took the latest from your master and pushed it to a branch, then merged it into my master and picked out what didn't belong, then submitted a new PR so we can match up and start doing some proper PRs :) Let me know if stuff is borked

[2022-09-20 21:02] darkshade9 opened #136 "Enhancement: Optional Item Kit Combo Mode"
Proposal to include a server cvar (for example, `kit_mode`), which is a toggle [0/1], where 1 enables Item Kit mode.

Item Kit mode combines items into kits, so they become more useful versus using the Kevlar Vest.  Data shows that the Kevlar Vest is used more than 3/4 of all item selections combined (60k+ samples), and we'd like to get a little more parity among the other items, to give games a b

[2022-09-20 21:05] darkshade9 opened #137 "Enhancement: Make weapon sounds selectable like the cl_chat_sound"
Currently, clients can select a variety of chat beep sounds in the menu, example:

[code]

Research the necessary changes to make this compatible with weapon sounds.  Example:

[code]

Trello card: https://trello.com/c/DBtg0bAG

[2022-09-20 21:07] darkshade9 opened #138 "Enhancement: Highlander Mode"
Game mode: `Teamplay`
Compatible with all other game mode flags such as 3Teams
Incompatible with regular Deathmatch and Tourney

What is Highlander mode:
As with all things Highlander, There Can Only Be One -- in this case, only one weapon per player, per team.  Player A chooses the Sniper Rifle, that means that no one else on that Player A's team can choose that weapon.  Max team size is 6 (other

[2022-09-21 01:33] darkshade9 commented on #130
Adjusting player state seems to be one way to do this.  We could also maybe pull logic from turning friendly fire off (dmflags) and apply it to clients with `cl_warmup_invuln 1`, or something like that.

[2022-09-21 02:20] darkshade9 commented on #125
https://github.com/Raptor007/aq2-tng/pull/139

[2022-09-21 15:41] darkshade9 commented on #111
I had some recent chats with @iceman12k around getting the most basic of these game modes (ATL) directly as a game mode flag (like `use_3teams`).

Components needed:

- A method to choose a player to be a leader on each team (either randomly or via `e_mustVolunteer` server cvar) and apply the specified skin to only that player
- A method to continuously respawn non-leader members (based on `e_resp

[2022-09-22 00:41] Raptor007 commented on #133
It looks like this is a leftover from aqtion that made it into master:
https://github.com/Raptor007/aq2-tng/blob/4329ecf5d618a057cbc25dee2ad08f0c44a0dd2d/source/g_save.c#L551

I'm removing this line from master as it is breaking the compile.  After your next merge into aqtion, you'll probably need to re-add this line there.

[2022-09-22 01:26] Raptor007 commented on #133
Merging into bots is taking a little longer than expected, because merging master tried to get rid of all the bots code.  I assume at some point you accidentally merged bots into master and then removed those changes.  No problem though.  I can use `git diff --cached file.c` to confirm if there were only bot changes in that file, and then `git checkout HEAD file.c` to bring it back.

Going through

[2022-09-22 01:42] darkshade9 commented on #133
Yeah I think the bot code accidentally got in, I tried to remove it manually but your method is probably cleaner.

I found that `idletime` is reset when the `ppl_idletime` is triggered (https://github.com/Raptor007/aq2-tng/blob/master/source/p_client.c#L3343), so I went with `totalidletime` as a separate counter.  If there's a cleaner/better way to handle it, I'd welcome any improvements.

[2022-09-22 01:50] Raptor007 commented on #133
Yeah I was just looking at this more thoroughly and was about to edit my original comment.  It looks like `totalidletime` will only increase if `ppl_idletime` is being used too:
https://github.com/Raptor007/aq2-tng/blob/4329ecf5d618a057cbc25dee2ad08f0c44a0dd2d/source/p_client.c#L3337-L3344

I'm working on a refactor using just one variable, having it reset for `sv_idleremove` and just check modulo

[2022-09-22 02:07] darkshade9 commented on #133
Hmm yeah good catch, I guess that's what I get for assuming a var will always be set

[2022-09-22 05:46] Raptor007 commented on #133
Well, for most servers that's probably true.  I think my server is unusual for not using `ppl_idletime` but I do intend to use `sv_idleremove`.  And [I've also made the error of accidentally merging the bots into master](https://github.com/Raptor007/aq2-tng/commit/ce72b4a6a9a294568e529cf7a0c66bc7efe57c6e) so don't beat yourself up over any of this.  :¬)

Btw you and I *both* got caught by `idletim

[2022-09-22 22:56] Raptor007 commented on #133
Okay I got this all done: https://github.com/Raptor007/aq2-tng/commit/92457809c90af2d3d8ec2a82c540b5af63599f41 https://github.com/Raptor007/aq2-tng/commit/f7a9bf70447c8a6146c3c674927767ee4989a157

Next time you pull, you'll need to add the `server_id` lines back to g_save.c and g_local.h in the aqtion branch.

[2022-09-22 23:01] Raptor007 commented on #125
This is now implemented as cvar `sv_idleremove` (thanks @darkshade9!) and will be pushed upstream to aq2-tng after a bit more testing.

[2022-09-27 20:15] darkshade9 commented on #133
Hey @Raptor007 it looks like the adjustment to the sv_idleremove/ppl_idletime has caused an unexpected bug where the player will repeat the insane sounds forever, may need to turn up the volume a bit to hear

[soundbug.zip](https://github.com/Raptor007/aq2-tng/files/9659332/soundbug.zip)

[2022-09-27 20:34] Raptor007 commented on #133
I just tried and was unable to reproduce this.  What are your values for `sv_fps`, `ppl_idletime`, and `sv_idleremove` (and any other relevant game mode settings)?  Is there any new code in aqtion modifying the value of `client->resp.idletime` or doing a memset on `client->resp`?  And did you have to do anything specific to trigger the bug?

[2022-09-27 20:46] darkshade9 commented on #133
[code]
No code in aqtion that messes with `resp.idletime` that I am aware of.  It happens as soon as you spawn in.  I have my experimental server running it and it happens to me:  `useast.aq2world.com:27940`

[2022-09-27 21:11] darkshade9 commented on #133
Actually I think it was an issue on my end, merging didn't go as cleaning as I had hoped.   Appears to work just fine on the latest build.

_please ignore me_

[2022-09-28 20:14] Raptor007 commented on #137
Maybe I'm missing something, but this sounds like a Q2Pro client feature rather than an AQ2 server feature.

One thing to keep in mind is that it may need to replace multiple sounds for `llsound` servers to work right.

[2022-09-28 20:48] darkshade9 commented on #137
I was looking into the code a bit to see if this was possible from the gamelib, it's this weird area where Q2Pro handles the sound engine and menu UI, but the sounds and weapons we're referencing only exist in TNG.  If it must be done in Q2Pro then we can remove this as a TNG issue and we'll see what the lift would be to get it in Q2Pro

[2022-10-07 16:12] MVarland commented on #136
Currently if you're playing Bandolier and want to use your grenade right after ACTION! You're essentially useless in the beginning. Since you cannot pull the pin and throw until the announcer yells ACTION!

To make the grenade(s) a bit more tactical/useful it would be cool if it was possible to pull the pin a bit earlier like when the announcer yells LIGHTS...

Seeing a grenade coming at you or on

[2022-10-07 16:15] MVarland opened #142 "Bug? Knives / Grenades won't make the dm_shield go down"
Knives nor grenades won't make the dm_shield go down if you +attack whereas other weapons will

[2022-10-07 16:29] darkshade9 commented on #136
This is a good idea, might be its own enhancement ticket?  I assume the pin-pulling aspect of grenades during LCA is tied to the animation of the action, pin-pulling = pulling gun trigger.  If there's a way to adjust is so it's on the _throwing_ aspect of the grenade as opposed to the pin-pull, could be relatively easy?

[2022-10-07 23:02] Raptor007 opened #143 "Allow grenade pin pull during LCA"
Currently if you're playing Bandolier and want to use your grenade right after ACTION! You're essentially useless in the beginning. Since you cannot pull the pin and throw until the announcer yells ACTION!

To make the grenade(s) a bit more tactical/useful it would be cool if it was possible to pull the pin a bit earlier like when the announcer yells LIGHTS...

Seeing a grenade coming at you or on

[2022-10-07 23:04] Raptor007 commented on #136
Created issue #143 for grenade pin pull during LCA.  Good idea!

[2022-10-07 23:05] Raptor007 commented on #143
I like the idea of allowing the pin to be pulled at any time during LCA but only allowing the throw after Action.

The only problematic edge case I can think of is changing weapons after pulling the grenade pin.  Normally that drops a live grenade at your feet, but this shouldn't be allowed before Action.

[2022-10-08 01:42] darkshade9 commented on #143
Any way to detect if we're in LCA and if ent has grenade equipped, and grenade animation (pin pulled) is after the pin pull frame, make it unable for player to switch weapon?  Sort of a 'point of no return' once pin is pulled?

[2022-10-10 16:09] darkshade9 commented on #137
An in-game representation of the configurable sounds
https://www.youtube.com/watch?v=4sOk3WdQt1M

would also resolve this issue

https://github.com/actionquake/distrib/issues/217

[2022-10-11 21:15] Raptor007 commented on #137
I like the demo, but how was it done?  This still seems like something that will need to be done in Q2Pro rather than the AQ2-TNG server code.  Each player should only control their own local sounds.

Btw, if each number is meant to correspond to a sound set, I think they're mixed up.  Here's what I heard:

cl_mp5_sound 0: Hickok45
cl_mp5_sound 1: Quake 2 machinegun
cl_mp5_sound 2: Rogue Spear

cl

[2022-10-11 22:26] Raptor007 commented on #143
Yeah, there could be a point of no return if we want to be strict about pin pulling.  I think a better solution would be if you weapon switch during LCA, it just doesn't drop the live grenade, essentially "putting the pin back in" instead.  That would be a little easier to code and I think more friendly to players.  (Or could have a cvar and let server admins decide, but that's the most work and m

[2022-10-13 14:46] darkshade9 commented on #137
This was done in the gamelib as a proof of concept, it _does_ change the sounds for everyone on the server when changed, so it's not currently limited to the client, as you said, it likely needs to be done in Q2Pro.  This would probably break some things though, because from what I've reviewed, the gamelib takes over the weapon sounds from the client.

[2022-10-22 11:18] m4son opened #144 "dm_choose 1 prevents player spawn in jump gamemode"
As said in the title ;)

[2022-10-22 11:34] darkshade9 commented on #144
Easiest method here would be to force the dm_choose cvar to 0 if jump is 1?  No one is using weapons in jump mode as far as I know ?

[2022-10-31 08:27] MVarland opened #145 "sv_truedamage"
I propose to change the way the damage column in-game is calculated by introducing sv_truedamage

The idea is that the weapons should still be as strong as they are, but the calculations for the damage column should be “True Damage” rather than what we have today.

Example:
Consider players A, B and C
1. A looses 85HP due to getting shot multiple times by B
2. A kills B
3. C kills A due to headsho

[2022-10-31 10:56] unekz opened #146 "Ping system"
Would be awesome to have ping system in AQ2.

Being able to ping locations on maps has become a staple feature in modern first-person shooters, as it allows players to quickly communicate important information without having to use their microphone. More and more games have begun to add pinging systems in recent years

[2022-10-31 16:10] darkshade9 commented on #146
In the AQtion branch we're toying with some upgrades to the HUD, this may be relevant for 'pings' and tracking lost flags in CTF, etc.  Example footage of early alpha HUD elements
https://www.youtube.com/watch?v=ahJX7iiYeIw

[2022-11-14 06:53] Raptor007 commented on #53
Finally got around to implementing `jmod lca` command: https://github.com/Raptor007/aq2-tng/commit/e815aa7778f514fa30e6aa1f05729ac430a85a14